@model CooperationHullMainSite.Models.PostSummary
<div class="blog-post-summary">

    <div class="blog-summary-image-container">
        <img src="@(Model.summaryImageUrl)" alt="event image" />
    </div>

    <div class="blog-summary-text-container">
        <h3 class="heading-m">@Model.Title</h3>
        <span class="date-line">@Model.date.ToString("dd MMMM yyyy")</span>
        <div class="summary-text">

            <p>@Model.summaryText</p>
        </div>
    </div>
    <div class="blog-summary-link-container">
        <a href='blog-posts/@(Model.slug)' target='_blank'>
            <img src="~/assets/img/next arrow.svg" alt="arrow" />
        </a>
    </div>

</div>
