@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show d-flex flex-column flex-md-row justify-content-center align-items-center gap-2 gap-md-5 rounded-0 p-3" role="alert">
        <span>
            This site uses only essential cookies
        </span>

        <span class="d-flex flex-row align-items-center gap-3">
            <a asp-controller="Home" asp-action="CookiePolicy">Learn More</a>
            <button type="button" class="accept-policy close button-link border-0" data-bs-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <b>Accept</b>
            </button>
        </span>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}