<footer class="homepage-block p-3">
    <div class="footer-content">
        <div class="footer-content-left">
            <p class="heading-sm">Cooperation Hull <span class="text-lg">©️ 2024</span></p>
            <div class="footer-links" role="navigation">
                <a asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">Privacy</a>
                <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a>
                <a asp-area="" asp-controller="Home" asp-action="CookiePolicy">Cookies Policy</a>
            </div>
        </div>
        <div class="footer-socials">
            <a href="https://www.facebook.com/profile.php?id=100092856802621" target="_blank" rel="noopener noreferrer">
                <img src="/assets/img/icon-fb.svg" alt="facebook icon" />
            </a>
            <a href="https://www.instagram.com/cooperation.hull/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/img/icon-ig.svg" alt="instagram icon" />
            </a>
            <a href="https://www.youtube.com/@@CooperationHull" target="_blank" rel="noopener noreferrer">
                <img src="/assets/img/icon-yt.svg" alt="youTube icon" />
            </a>
        </div>
    </div>
    <img class="footer-illustration" src="/assets/img/footer-sketch.png" alt="background image" />
</footer>