        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h3>Cooperation Hull 2024</h3>
            </div>
        <div class="col-lg-6 col-md-12 footer-links" role="navigation" aria-label="Footer">
                <p> <a asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">Privacy</a></p>
                <p> <a asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></p>
                <p> <a asp-area="" asp-controller="Home" asp-action="CookiePolicy">Cookies Policy</a></p>
            </div>
        </div>