<div class="col-lg-4 col-md-6 col-sm-6 p-5">
    <div class="happening-next-item">
        <p class="date-tag heading-xs">@Model.date.ToString("dd MMM")</p>
        <img class="header-image" src="~/assets/img/@(Model.imagesName)" />

        <div class="content">
            <h3 class="heading-sm">@(Html.Encode(Model.title))</h3>
            <div class="description-block">
                <p class="text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget dui tortor. Fusce blandit elit sit amet.</p>
                <a href='@(Model.eventLink)' target='_blank'>
                    <img src="~/assets/img/next arrow.svg" />
                </a>
            </div>
        </div>
    </div>
</div>