<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cooperation Hull</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CooperationHullMainSite.styles.css" asp-append-version="true" />

    <!-- Temp fix until we have the right font files format sorted out-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

    <!--Open Graph-->

    <meta property="og:title" content="Cooperation Hull" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="\assets\img\Cooperation Hull Circle Logo 2.png" />
    <meta property="og:url" content="https://www.cooperationhull.co.uk/" />
    <meta property="og:description" content="Strong, caring communities. Enough food, shelter and warmth for everyone, no matter what. A healthy planet and a respectful relationship with the natural world. Lives filled with meaning and purpose, with a future to look forward to. This is the kind of society we all want. So why don’t we build it?" />

</head>
<body>

    <header>
        <div class="cookieConsentContainer">
            <partial name="_CookieConsentPartial" />
        </div>
        <div class="navbarContainer">
        @{
            await Html.RenderPartialAsync("_Navbar_LC");
        }    
        </div>
    </header>


    <div class="main-content">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        @{
            await Html.RenderPartialAsync("_footer");
        }
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const contentElements = document.getElementsByClassName('content-page')
        if (contentElements.length > 0) {
            document.getElementById("navbar-logo-img").src = `..\\assets\\img\\Circle Logo Black.svg`;
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
