<nav id="topNavBar" class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light border-bottom" role="navigation" aria-label="Main">
    <div class="container-fluid">

        <div class="navbar-brand ">

            <a class="nav-logo" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="d-inline-flex">
                    <img class="nav-bar-logo" src="..\assets\img\Cooperation Hull Circle Logo 2.png" alt="" />
                    <h1> Cooperation Hull</h1>
                </div>
            </a>

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-lg-inline-flex" >

            <ul class="navbar-nav flex-grow-1 flex-wrap">
                <li id="mobile-nav-toggler">
                <button class="mobile-only navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark heading-sm" asp-controller="Home" asp-action="ThePledge">The Big Idea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark heading-sm" asp-controller="Home" asp-action="ThePledge">How We Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark heading-sm" asp-controller="Home" asp-action="ThePledge">FAQs</a>
                </li>
                <li class="donate-button">
                    <a class="" href="https://www.gofundme.com/f/hull-assembly" target="_blank">Donate</a>
                </li>
                <li class="mobile-only nav-item">
                    <a class="nav-link text-dark heading-sm" asp-controller="Home" asp-action="ThePledge">Membership</a>
                </li>
                <li class="mobile-only nav-item">
                    <a class="nav-link text-dark heading-sm" asp-controller="Home" asp-action="ThePledge">The Pledge</a>
                </li>
                <li class="mobile-only nav-item">
                    <a class="nav-link text-dark heading-sm" asp-controller="Home" asp-action="ThePledge">Help to Attend</a>
                </li>
                <li class="mobile-only nav-item">
                    <a class="nav-link text-dark heading-sm" asp-controller="Home" asp-action="ThePledge">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>