@{
    ViewData["Title"] = "Around The World";
}
<div class="row">
    <div class="col-12 content-text content-page">
        <h1 class="heading-xl">@ViewData["Title"]</h1>

        <p>Coming Soon</p>
    </div>
</div>