@model CooperationHullMainSite.Models.SanityCMS.BlogPostContent;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"{Model.title}";
    ViewBag.Description = $"{Model.summary}";
}

<row>
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
            <a class="" asp-area="" asp-controller="Home" asp-action="OurBlog">&larr; Back to the blog</a>
            <h1 class="heading-xl">@Model.title</h1>
        </div>

        @Html.Raw(Model.contentHtml)

        <p>@Model.date.ToString("dd MMMM yyyy")</p>
        <p>By @Model.author</p>

        <a class="" asp-area="" asp-controller="Home" asp-action="OurBlog">&larr; Back to the blog</a>
    </div>
</row>
