
@{
    ViewData["Title"] = "Cookie Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
            <h1 class="heading-xl">@ViewData["Title"]</h1>
        </div>

        <div class="content-text-block">

            <h2 class="heading-lg">What is a cookie?</h2>

            <p>
                A cookie is a small text file that is downloaded onto ‘terminal equipment’ (eg a computer or smartphone) when the user accesses a website. It allows the website to recognise that user’s device and store some information about the user’s preferences or past actions.
            </p>


            <h2 class="heading-lg">How we use Cookies</h2>

            <p>
                The cookies in use on the Cooperation Hull website are needed to make sure the site is loading quickly and securely.
            </p>

            <p>
                They are not used to track you in any way and do not store and information either about yourself or the device you have used to visit this site.
            </p>

            <p>These cookies are:</p>

            <ul>
                <li>.AspNetCore.Antiforgery</li>
                <li>ARRAffinity</li>
                <li>ARRAffinitySameSite</li>
            </ul>
            <p>
                They are session cookies that are deleted when you close your web browser.
            </p>

            <ul>
                <li>AspNetCore.Consent</li>
            </ul>
            <p>
                This cookie is used to record if you have previsouly agree to the cookie policy so we do not need to ask you every time you visit the website.
            </p>
        </div>
</div>

