@{
    ViewBag.Title = $"Cookie Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 content-text content-page">

        <div class="top-image">
            <div class="content-page-header-container">
                <h1 class="heading-xl">@ViewBag.Title</h1>
            </div>
        </div>

        <div class="content-text-block">

            <p>This Cookie Policy explains how Cooperation Hull ("<strong>Company</strong>," "<strong>we</strong>," "<strong>us</strong>," and "<strong>our</strong>") uses cookies and similar technologies to recognize you when you visit our website.</p>

            <p>In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information.</p>


            <h2 class="heading-lg">What is a cookie?</h2>

            <p>
                Cookies are small data files that are placed on your computer or mobile device when you visit a website.
                Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.
            </p>

            <p>
                Cookies set by the website owner (in this case, Cooperation Hull) are called "first-party cookies."
                Cookies set by parties other than the website owner are called "third-party cookies."
                Third-party cookies enable third-party features or functionality to be provided on or through the website (e.g.interactive content and analytics).
                The parties that set these third-party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites.
            </p>


            <h2 class="heading-lg">Why do we use cookies?</h2>

            <p>
                We use first- and third-party cookies for several reasons.
                Some cookies are required for technical reasons in order for our Website to operate, and we refer to these as "essential" or "strictly necessary" cookies.
                Other cookies can be used to track and target the interests of our users to enhance the experience on our Website.
                Third parties serve cookies through our Website for advertising, analytics, and other purposes.
                This is described in more detail below.
            </p>

            <h2 class="heading-lg">How can I control cookies?</h2>

            <p>
                You have the right to decide whether to accept or reject cookies.
                Essential cookies cannot be rejected as they are strictly necessary for the operation of the website.
            </p>

            <p>The cookies served may vary depending on the specific pages you visit.</p>


            <h2 class="heading-lg">How we use Cookies</h2>

            <p>
                The cookies in use on the Cooperation Hull website are needed to make sure the site is loading quickly and securely.
            </p>

            <p>
                They are not used to track you in any way and do not store and information either about yourself or the device you have used to visit this site.
            </p>

            <p>These cookies are:</p>

            <ul>
                <li>.AspNetCore.Antiforgery - This is used as to stop cross-site request forgery attacks.</li>
                <li>ARRAffinity - This is used by our website hosting provider to ensure the site it running well.</li>
                <li>ARRAffinitySameSite - This is used by our website hosting provider to ensure the site is running well.</li>
                <li>_can2_session - This is used to remember if you have completed some of the forms on the website. </li>
                @*                 TODO - check if the stripe embed uses any cookies
                *@
            </ul>
            <p>
                They are session cookies that are deleted when you close your web browser.
            </p>

            <ul>
                <li>AspNetCore.Consent - This cookie is used to record if you have previously agreed to the cookie policy so we do not need to ask you every time you visit the website.</li>
            </ul>
            <p>

            </p>


            <h2 class="heading-lg">How can I control cookies on my browser?</h2>

            <p>
                As the means by which you can refuse cookies through your web browser controls vary from browser to browser, you should visit your browser's help menu for more information.
                The following is information about how to manage cookies on the most popular browsers:
            </p>

            <ul>
                <li><a href="https://support.google.com/chrome/answer/95647#zippy=%2Callow-or-block-cookies" target="_blank">Chrome</a></li>
                <li><a href="https://support.mozilla.org/en-UK/kb/enhanced-tracking-protection-firefox-desktop?redirectslug=enable-and-disable-cookies-website-preferences" target="_blank">Firefox</a></li>
                <li><a href="https://support.apple.com/en-ie/guide/safari/sfri11471/mac" target="_blank">Safari</a></li>
                <li><a href="https://support.microsoft.com/en-us/windows/microsoft-edge-browsing-data-and-privacy-bb8174ba-9d73-dcf2-9b4a-c582b4e640dd" target="_blank">Edge</a></li>
                <li><a href="https://help.opera.com/en/latest/web-preferences/" target="_blank">Opera</a></li>
            </ul>


            <h2 class="heading-lg">Where can I get further information</h2>

            <p>
                If you have any questions about out use of cookies or other technologies please contact us at <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a>
            </p>

        </div>
    </div>
</div>

