@{
    ViewBag.Title = $"FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
            <h1 class="heading-xl">@ViewBag.Title</h1>
        </div>

        <div class="content-text-block">

            <h2 class="heading-lg">Who funds you?</h2>

            <p>In April 2023, we launched a crowdfunder and presented the idea for Cooperation Hull to our friends, family members and basically anyone who would listen. We raised £8,000 from their generous donations. We have since launched a GoFundMe which can stay open indefinitely. These donations are our only source of funding, beyond ourselves as individuals. The core team works part time to pay the rent, and we funnel as much of our energy, time, money and resources into Cooperation Hull as humanly possible.</p>

            <p>
                We are looking into grants we can apply for. But we never want to get trapped in the funding cycle nightmare that hinders a lot of not-for-profits. Whether they’ll admit it or not, organisations are in some way accountable to the people/groups that fund them. The extent of this varies, of course, and we’re not saying that all funding is bad. Just as in most things, we don’t have all the answers here! But we do know that we only want to be accountable to the community we serve, and to our vision for change led by People’s Assemblies.
                So, for now, we continue to rely on <a href='https://www.gofundme.com/f/hull-assembly' class="" target="_blank">grassroots support</a>. If this changes, we’ll let you know!
            </p>

            <h2 class="heading-lg">Why Hull?</h2>

            <p>We believe that this model - or some variation of it - can and should be replicated in towns and cities across the country.
                (and this <b>is</b> happening; at the time of writing this there is a <a href="https://www.cooperationsheffield.co.uk/" target="_blank">Cooperation Sheffield</a> and a <a href="https://www.instagram.com/cooperationmanchester/?hl=en" target="_blank">Cooperation Manchester</a> ).
                But we knew we needed to prove that it can work, test some of our ideas, and improve the plan the best way we know how: trial and error.
                Here’s just a few of the reasons we think Hull is the best place for the job:
            </p>

            <ul>
                <li>We had some good connections here. During lockdown, some of us had another wild idea. The <a href="https://freedomtour.uk/" class="" target="_blank">Freedom Tour</a> travelled the country in a beat up old van and ran People’s Assemblies in 15 of the most ignored, run down cities in the UK. The People’s Assembly in Pearson Park was one of the best. From this, we started meeting a bunch of interesting, inspiring people organising at the grassroots across the city; clearly, a burgeoning Solidarity Economy in practice. </li>
                <li>Hull is out on a limb, and there’s a strong sense of independence. For a long time it pretty much only traded by sea, rather than inland with the rest of the country. It turned King Charles I away in the 1400s and kicked off the first English civil war. In 2011 Hull was the only council in the country not to receive a single request for a street party for the royal wedding. This culture should be a perfect breeding ground for new ideas, new ways of doing things.</li>
                <li>It has the lowest voter turnout in the country, lowest church attendance rates. Again, these things point to people being a bit fed up with what they’ve got, what’s being offered by the powers that be. We think we've got something to offer which could flip that on its head. </li>
                <li>Climate change is going to hit Hull hard. We’re the second most vulnerable city to flooding after London. We are going to see the effects of climate change very soon, which means we need to come up with solutions very soon</li>
            </ul>


            <h2 class="heading-lg">What if people make the wrong decisions? Can you really trust people?</h2>

            <p>
                Take a second to think about leadership. Think about what makes a good leader.
                You might come up with things like fairness, kindness, a sense of right and wrong, the ability to listen to different points of view, the will to make personal sacrifices for the good of the whole.
            </p>

            <p>Now think about the best people you know. Your best friends, the people you go to when you’re in trouble. </p>
            <p>They probably have a lot of the qualities you just named.</p>

            <p>We all have days where we have more or less ‘faith in humanity’ - it’s part of being human! We don’t know if we’ll always agree with what the Assembly decides. But we know two things for certain:</p>

            <ul>
                <li>Our ‘leaders’ who currently make decisions for us - politicians, very wealthy business people, tech giants - aren’t making decisions in our best interests. They make decisions for profit, power, re-election etc. Ordinary people, organised in People’s Assemblies, cannot be corrupted like that. Our decisions will be guided by what’s best for us and our communities, harnessing collective knowledge and wisdom. If the two options are the power-hungry people in charge now, or ordinary people we’ve met on the street… there’s really only one choice!</li>
                <li>People are naturally community-minded. We are social creatures. We want to survive, we want our neighbourhoods to be thriving, healthy and happy. And when you give people the time, trust, information and resources, and the space and skills to listen to each other, we come out with the kinds of decisions the greatest leaders from the best stories would be proud of: decisions that help society be kinder, fairer, more equal. We’re here to facilitate that process.</li>
            </ul>

            <p>Also, there’s nothing to stop us consulting experts in our People’s Assemblies! Of course, some people have trained for years to understand flood defences and most of us haven’t. So, if we’re trying to make a decision about flood defences, we should consult the experts and ensure we’ve heard all the relevant information before coming to our conclusions.</p>


            <h2 class="heading-lg">Who are you to tell us what to do?!</h2>

            <p>Noone, you’re right! That’s why we’re not trying to tell anyone what to do. Let’s break it down:</p>


            <ul>
                <li>The Assemblies are facilitated by people who have experience hosting meetings and discussions. The role of the Facilitators is to help everyone be heard equally, to ensure one loud voice doesn’t dominate, to keep the conversation relevant to the question at hand, and to help the Assembly participants come out with something they all feel happy with. It takes practice to facilitate effectively and neutrally, and this is something we feel we have to offer (though we’re learning and improving all the time).</li>
                <li>What the Assemblies decide are what the Assemblies decide. We trust they’ll come out with amazing, unexpected ideas and solutions to our current crises. We trust the people of Hull to know what’s best for the people of Hull. It’s democracy in action.</li>
                <li>We have our 5 pillar strategy for how we think we could be building an alternative way of living together. These are broad (see here on our website) and don’t have many specific solutions in mind. Ultimately, this 5 pillar strategy is a starting framework to be developed with all the discussion we’ll have - it’s currently what we think makes sense, based on our research and experience. But it will be for the People’s Assembly to decide if this is the right strategy for Hull.</li>
            </ul>


            <h2 class="heading-lg">Has this been done before?</h2>

            <p>You could say a People’s Assembly is the purest form of democracy, so yes, it’s been used since ancient Greece! The root of the word “democracy” comes from the Greek words “demos” meaning people, and “kratia” meaning power. So in its original sense, democracy simply means people power.</p>
            <p>In the modern age, successful social movements like the Civil Rights movement in the US and the Zapatistas in Mexico have used mass meetings in similar ways.</p>

            <p>People’s Assemblies have been used to redistribute wealth in Brazil, win grassroots Mayoral elections in <a href="https://www.opendemocracy.net/en/can-europe-make-it/beyond-ada-colau-common-people-of-barcelona-en-comu/" class="" target="_blank">Barcelona</a> and <a href="https://cooperationjackson.org/" class="" target="_blank">Jackson Mississippi</a>, and they’ve been central to the organising of the Autonomous Administration of North and East Syria which now sees 3-4 million people living in a new kind of society using hyper-localised decision making. </p>

            <p>So, we’re not alone. They might have different names in different languages or times, but in practising People’s Assemblies we’re joining a global movement - communities all over the world, coming together and making decisions for ourselves.</p>


            <h2 class="heading-lg">What is Democratic Confederalism? </h2>

            <p>Democracy - Demos Kratia -  translates to people power.</p> 
            <p> Confederalism - a union of independent organisations that work together.</p>
            <p>Democratic Confederalism is an organisational model used in Rojava and elsewhere and is an inspiration to us in Cooperation Hull. We want a democracy which starts and ends with the people, where all sectors of society have their own democratic organisations.</p>
            <p>Democratic Confederalism is politics done by citizens, not politicians.
                The people elect ‘delegates’ who, instead of having power vested in them, simply follow the collectively agreed policies of the people - via something similar to a people’s assembly.
                Via this network of assemblies (their equivalent) and delegates, society is able to make decisions at the smallest / most local level possible, by the people most affected. And a new culture takes shape, where everyone feels able and invited to participate in society and contribute their own skills and wisdom to decisions that impact their lives.</p>

            <h2 class="heading-lg">How do members make decisions about Cooperation Hull?</h2>

            <p>We broadly use the sociocracy model of organising. Practically, this means that decision-making power is decentralised to specific Working Groups, and the wider movement trusts them to get on with it!</p>

            <ul>
                <li>Each Working Group has a set of agreed responsibilities and tasks.</li>
                <li>Decisions falling within these responsibilities are taken by that Working Group.</li>
                <li>Relevant information flows between working groups via representatives nominated by that working group.</li>
                <li>The Working Group should consult with other Working Groups if they are going to be directly affected by a decision.</li>
            </ul>

            <p>When we need to make decisions in a group, we try to use the <strong>consent</strong> model of decision making.</p>

            <p><strong>Consensus</strong> means that everyone agrees on the decision whereas <strong>consent</strong> means that nobody objects. This allows us to find compromises and make decisions faster that move us forward.</p>

            <p>When a decision needs to be made:</p>

            <ol>
                <li>Someone/some people will make a <strong>proposal</strong> for what we should do.</li>
                <li>The rest of the group is asked to respond to the proposal — first asking questions, then giving additions or feedback which can be discussed and added to the proposal if needed.</li>
                <li>After sharing any thoughts on the proposal, the rest of the group is asked whether they <strong>consent</strong> or <strong>object</strong> to it.</li>
                <li>An objection is not a small concern or preference. An objection means you think this proposal will cause harm or damage our mission / purpose.</li>
                <li><strong>Consent</strong> means that, even if it is not perfect, it is good enough for now and safe enough to try.</li>
                <li>If there is an objection, the person(s) who brought the proposal can consider making changes to it in response to the objection.</li>
                <li>The facilitator and every person in the meeting is responsible for listening to the objection, understanding what it is and why, and determining whether it is a genuine objection (i.e., it will cause harm or damage).</li>
            </ol>
            
            </div>

    </div>
</div>