@{
    ViewData["Title"] = "Help To Attend";
}
<div class="row">
    <div class="col-12 content-text">
        <h1 class="heading-xl">@ViewData["Title"]</h1>

        <p>Coming Soon</p>
    </div>
</div>