@{
    ViewBag.Title = $"Help To Attend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-12 content-page ">

        <link href='https://actionnetwork.org/css/style-embed-whitelabel-v3.css' rel='stylesheet' type='text/css' />
        <script src='https://actionnetwork.org/widgets/v5/form/get-help-to-attend-an-assembly?format=js&source=widget'>
            </script><div id='can-form-area-get-help-to-attend-an-assembly'>
                <!-- this div is the target for our HTML insertion -->
            </div>
    </div>

</div>