@{
    ViewData["Title"] = "Home Page";
}


<!-- Hero -->
<section class="hero" >
    <div class="">
        <div class="row justify-content-md-left">
            <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-left text-container ">
                <h1 class="heading-xl">IS THIS IT?</h1>
                <p class="heading-sm">Faced with climate collapse,</p> 
                <p class="heading-sm">our systems seem to be going into self desctuct.</p>
                <p class="heading-sm">Luckily, we can build new ones.</p>
                <button type="button" class="btn btn-light btn-lg px-4 gap-3">Sign Now</button>
            </div>
        </div>
    </div>
</section>



<div>



</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



</div>
