@{
    ViewData["Title"] = "Home Page";
}


<!-- Hero -->
<section class="hero" >

        <div class="row">

            <div class="hero-image-container">

            <div class="d-none d-lg-block">
                    <img src="~/assets/img/blackandwhitehero.png" />
                </div>
                <div class="d-lg-none ">
                    <img src="~/assets/img/pattern 1.jpeg" />
                </div>
            </div>

                <div class="position-absolute">

                    <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-left hero-text">
                        <h1 class="heading-xl">THE BIG QUESTION</h1>
                        <p class="heading-sm">Strong, caring communities.</p>
                        <p class="heading-sm">Enough food for everyone.</p>
                        <p class="heading-sm">A healthy planet.</p>
                        <p class="heading-sm">Lives filled with meaning</p>
                        <br />
                        <p class="heading-sm">This is the kind of society we all want.</p>
                        <p class="heading-sm">So why don't we build it?</p>

                        <button type="button" class="btn btn-light btn-lg px-4 gap-3">Sign the pledge</button>
                    </div>
                </div>

        </div>

</section>



<section class="homepage-block big-answer ">
    <div class=" row">

         <div class="col-lg-6 col-md-12 p-4 order-lg-1 order-md-0">
            <h1 class="heading-lg">THE BIG ANSWER</h1>
            <p>People's Assemblies are a simple tool that will change everything.</p>
            <p>Public meetings, happening everywhere, replacing party politics with people power.</p>
            <br>
            <p>The Hull People's Assembly will be the first of its kind in the UK.</p>
            <p>And we need your help to pull it off.</p>
            <br>
            <p>We'll only launch when we have 2,000 signatures from local people.</p>
            <p>Pledge your support to the Hull People's Assembly by signing here, now</p>
            <br>
            <a class="" asp-area="" asp-controller="Home" asp-action="Donate">Find out more about People's Assemblies'</a>
        </div>


        <div class="col-lg-6 col-md-12 form-container order-lg-0 order-md-1">

            <div class="row m-3"> 
                <div class="col-xl-6 col-lg-12">
                    <label for="PledgeFormFirstName" class="form-label">First Name</label>
                    <input id="PledgeFormFirstName" class="form-control form-control-lg" type="text" placeholder="First Name" aria-label="First Name">
                </div>
                <div class="col-xl-6 col-lg-12">
                    <label for="PledgeFormSurname" class="form-label">Surname</label>
                    <input id="PledgeFormSurname" class="form-control form-control-lg" type="text" placeholder="Surname" aria-label="Surname">
                </div>
            </div>


            <div class="row m-3">
               <div class="col-xl-9 col-lg-8 col-md-7">
                    <label for="PledgeFormEmail" class="form-label">Email</label>
                    <input id="PledgeFormEmail" class="form-control form-control-lg" type="text" placeholder="Email" aria-label="Email">
                </div>
                <div class="col-xl-3 col-lg-4 col-md-5 container align-self-end">
                   <div>
                       <button type="button" class="btn btn-light btn-lg px-4 gap-3">Sign</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>



@* <section class="homepage-block">
    <div class=" row">
        <div class="col-lg-8 col-md-12 text-container">
            <h1 class="heading-lg">THE BIG QUESTION</h1>
            <p>Strong, caring communities.</p>
            <p>Enough food, shelter and warmth for everyone, no matter what.</p>
            <p>A healthy planet and a new relationship with the natural world (we look after it and it looks after us). </p>
            <p>Lives filled with meaning and purpose, with a future to look forward to.</p>
            <p>This is the kind of society we all want. <strong> So why don’t we build it?</strong></p>
        </div>
        <div class="col-lg-4 d-none d-lg-block ">
            <img class="pattern-image" src="~/assets/img/pattern 1.jpeg" />
        </div>
    </div>
</section> *@


<section class="homepage-block">
    <div class=" row black">
        <div class="col-md-12 col-lg-4 p-4">
            <h1 class="heading-lg">THE BIG IDEA </h1>

            <h2 class="heading-md">MOVE</h2>
            <p>First we have to know that changing the world is possible.</p>
            <p>We know it’s possible to change these systems, because we built them. They are not god-given, natural states that we have to just accept. They were constructed which means we can deconstruct them. They are man made which means man (or perhaps more accurately, woman) can remake them.</p>

            <h2>First Stop: Democracy</h2>
            <p>The core of our strategy is People’s Assemblies - that’s where all of this begins. We want them happening in every corner of Hull (‘Neighbourhood Assemblies’) as well as a citywide Hull People’s Assembly that meets regularly and involves hundreds of local people. And we want other cities to do the same. </p>
            <p>An Assembly is a public meeting open to everyone, where we discuss, debate, disagree and eventually come to decisions we can all get behind. There’s no hidden agenda, no government or big business or NGOs, just people, and a few group agreements to keep things respectful when we’re tackling the hot button topics. We connect the Assemblies up with local organisations with the resources and skills to help us put into practice whatever we decide.</p>
        </div>

        <div class="col-md-12 col-lg-8">
            <div class="video-container ">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O7iHDDg2skU?si=RBYJHIqmoN_PR37h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


<section class="homepage-block ">
    <div class="row white">
            <div class="col-lg-8 col-md-12 p-4">
                <h1 class="heading-lg">THE BIG ANSWER</h1>
                <p><strong>People’s Assemblies</strong> are a simple tool that will change everything.</p>
                <p>Public meetings, happening everywhere, replacing party politics with people power.</p>
                <p><strong>The Hull People’s Assembly</strong> will be the first of its kind in the UK.</p>
                <p>And we need your help to pull it off.</p>
                <p>We’ll only launch when we have 2,000 signatures from local people.</p>
                <p>Pledge your support to the Hull People’s Assembly by <a asp-controller="Home" asp-action="HelpToAttend"> <strong>signing here</strong> </a>, now.</p>
            </div>
        <div class="col-lg-4 d-none d-lg-block ">
                <img class="pattern-image" src="~/assets/img/pattern 2.jpeg" />
            </div>
        </div>
</section>


<section class="homepage-block">
    <div class="row">
        <div class="col-lg-8 col-md-12 text-container">
            <h1>WHAT’S THE PLAN?</h1>
        </div>
    </div>
</section>



<section class="homepage-block">
    <div class=" row">
        <div class="col-12">
        </div>
    </div>
</section>




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
