<!-- Hero -->
<section class="hero">

    <div class="row">

        <div class="hero-image-container">

            <div class="d-none d-lg-block">
                <img src="~/assets/img/hero-desktop.png" alt="" />
            </div>
            <div class="d-none d-lg-none d-md-block">
                <img src="~/assets/img/hero-tablet.png" alt="" />
            </div>
            <div class="d-none d-lg-none d-sm-block">
                <img src="~/assets/img/hero-mobile.png" alt="" />
            </div>
        </div>

        <div class="position-absolute">

                    <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-left hero-text">
                        <h1 class="heading-xl">THE BIG QUESTION</h1>
                        <p class="text-lg">Strong, caring communities.</p>
                        <p class="text-lg">Enough food for everyone.</p>
                        <p class="text-lg">A healthy planet.</p>
                        <p class="text-lg">Lives filled with meaning</p>
                        <br />
                        <p class="text-lg">This is the kind of society we all want.</p>
                        <p class="text-lg">So why don't we build it?</p>

                <button type="button" class="btn btn-light btn-lg px-4 gap-3">Sign the pledge</button>
            </div>
        </div>

    </div>

</section>



<section class="homepage-block the-plan ">
    <div class="row">

        <div class="col-lg-6 col-md-12 p-4">
            <h1 class="heading-lg">What's the plan?</h1>
            <p>
                We have to view the world as it is - made up of complicated, connected systems. 
                A planet in crisis. A failing economy. A divided society. Broken party politics.
            </p>
            <br/>
            <p>
                This is the story of the world today and nobody (apart from the 1% at the top) 
                benefits from keeping it this way. No ordinary person wants corrupt leaders, crop failures 
                or the culture war and, to put it simply, there are more of us than there are of them. So…
            </p>
            <br />
        </div>

        <div class="col-lg-6 col-md-12 p-4">
            <div class="feature-image">
                <img src="~/assets/img/circles-diagram-transparent.png" alt="" />
            </div>
        </div>

    </div>
</section>



<section class="homepage-block big-answer ">
    <div class="row white">

        <div class="col-lg-6 col-md-12 p-4">
            <div class="feature-image">
                <img src="~/assets/img/circles-diagram-transparent.png" alt="" />
            </div>
        </div>

        <div class="col-lg-6 col-md-12 p-4">
            <h1 class="heading-lg">The big answer</h1>
            <p>
                ...we propose a new story. In this version, the 99% works through our differences and chooses
                to put all our wisdom, knowledge, love and technology to use. We choose to construct better systems,
                ones that build us up rather than keep us down. 
            </p>
            <br>
            <p>
                A healthy earth. A Solidarity Economy. Strong communities.
                Local democracy.
            </p>
            <br>
            <p>
                People’s Assemblies are a simple tool that will change everything. Public meetings,
                happening everywhere, replacing party politics with people power.
            </p>
            <br>
            <a class="" asp-area="" asp-controller="Home" asp-action="TheBigIdea">Click here to find out more</a>
        </div>

    </div>
</section>


<section class="homepage-block sign-up">
    <div class="row">

        <div class="col-lg-6 col-md-12 form-container order-lg-0 order-md-1">

            <div id="homepage-form-to-complete">
                <p id="homepage-formError"></p>
                <form method="post" id="home_page_signup_form" asp-action="Home_page_signup_form" asp-controller="Home">
                    <div class="row m-3">
                        <div class="col-xl-6 col-lg-12">
                            <label for="PledgeFormFirstName" class="form-label">First Name</label>
                            <input id="PledgeFormFirstName" name="PledgeFormFirstName" class="form-control form-control-lg" type="text" placeholder="First Name" aria-label="First Name">
                        </div>
                        <div class="col-xl-6 col-lg-12">
                            <label for="PledgeFormSurname" class="form-label">Surname</label>
                            <input id="PledgeFormSurname" name="PledgeFormSurname" class="form-control form-control-lg" type="text" placeholder="Surname" aria-label="Surname">
                        </div>
                    </div>

                    <div class="row m-3">
                        <div class="col-xl-9 col-lg-8 col-md-7">
                            <label for="PledgeFormMobile" class="form-label">Mobile Number</label>
                            <input id="PledgeFormMobile" name="PledgeFormMobile" class="form-control form-control-lg" type="text" placeholder="Mobile Number" aria-label="Mobile Number">
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-5 container align-self-end">
                            <div>
                                <button type="button" class="btn btn-light btn-lg px-4 gap-3" onclick="home_page_signup_form_submit();">Sign</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="form-completed">
                <p>Hello <span id="signedbyName"></span></p>
                <p>Thank you for joining our mailing list.</p>
            </div>

        </div>

    </div>
</section>


        <div class="col-lg-6 col-md-12 p-4 order-lg-1 order-md-0">

            @if (Model.formSignedCounter >= 0)
            {
                <p>@($"{Model.formSignedCounter} have signed so far")</p>
            }
            else
            {
                <p>Hundreds of people have signed already</p>
            }

        </div>
    </div>
</section>


<section class="homepage-block how-we-work">
    <div class="row">
        <div class="col-lg-4  p-4 ">
            <h1 class="heading-lg">How we work</h1>

            <p>These are complicated, global systems with complicated links between them all. How on earth do we think we're going to have an impact?</p>
            <p>Start local.  Work with what we've got already (which in Hull is A LOT). Experiment all the time.  And learn from each other.</p>
            <p>
                The good thing is, we're not starting from scratch and we're not alone! We're one part of a global movement that is alive and kicking,
                which started before us and will continue long after we're gone.  We've borrowed ideas and tools all the way from Mississippi
                (Cooperation Jackson) to the Middle East (Rojava) and the East Riding.
            </p>

            <p> <a class="" asp-area="" asp-controller="Home" asp-action="Donate">OK, sounds nice. <span style="font-weight:bold;">Find out more about our tools</span></a></p>
        </div>

        <div class="col-lg-8">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/O7iHDDg2skU?si=RBYJHIqmoN_PR37h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</section>

<section class="homepage-block">
    <div class="row">
        <div class="col-12">
            <h1 class="heading-lg">What's happening next?</h1>

            <div class="row">

                @foreach (HappenginNextEvent eventItem in Model.eventList)
                {
                    @Html.Partial("_HappeningNext", eventItem)
                }

            </div>
        </div>
    </div>
</section>
