<!-- Hero -->
<section class="hero">

    <div class="row hero-container">

        <div class="hero-image-container">

        </div>

        <div class="col-10 col-md-8 col-lg-8 col-xl-6 col-xxl-5 text-left hero-text">
            <h1 class="heading-xl">THE BIG QUESTION</h1>
            <p class="text-lg">
                Strong, caring communities. Enough food for everyone.
                A healthy planet. Lives filled with meaning.
            </p>
            <p class="text-lg this-is">This is the kind of world we all want.</p>
            <p class="text-lg">So why don't we build it?</p>
            <button type="button" onClick="document.getElementById('home_page_signup_form').scrollIntoView({block: 'center'});" class="btn btn-light btn-lg px-4 gap-3">Sign up now</button>
        </div>

    </div>

</section>

<section class="homepage-block the-plan orange">
    <div class="row">
        <div class="col-lg-6 col-md-12 p-4 homepage-text-block">
            <h2 class="heading-lg">What's the plan?</h2>
            <p>
                We have to view the world as it is - made up of complicated, connected systems:
                A planet in crisis. A failing economy. A divided society. Broken party politics.
            </p>
            <p>
                This is the story of the world today and nobody (apart from the 1% at the top)
                benefits from keeping it this way. No ordinary person wants corrupt leaders, crop failures
                or the culture war and, to put it simply, there are more of us than there are of them. So…
            </p>
        </div>

        <div class="col-lg-6 col-md-12 p-4">
            <div class="feature-image-container white">
                <img src="~/assets/img/bad_circles.png" alt="" />
            </div>
        </div>
    </div>
</section>

<section class="homepage-block big-answer white">
    <div class="row flex-md-row-reverse">
        <div class="col-lg-7 col-md-12 p-4 homepage-text-block">
            <h2 class="heading-lg">The big answer</h2>
            <p>
                ...we propose a new story. In this version, the 99% works through our differences and chooses
                to put all our wisdom, knowledge, love and technology to use. We choose to construct better systems,
                ones that build us up rather than keep us down.
            </p>
            <p>
                A healthy earth. A Solidarity Economy. Strong communities.
                Local democracy.
            </p>
            <p>
                People’s Assemblies are a simple tool that will change everything. Public meetings,
                happening everywhere, replacing party politics with people power. <a class="" asp-area="" asp-controller="Home" asp-action="TheBigIdea">Read more here &rarr;</a>
            </p>
        </div>

        <div class="col-lg-5 col-md-12 p-4">
            <div class="feature-image-container">
                <img src="~/assets/img/good_circles.png" alt="" />
            </div>
        </div>
    </div>
</section>


<section class="call-out-block-wrapper">
    <div class="call-out-block">
        <img class="call-out-block-illo" src="~/assets/img/hedgehog-spot.png" alt="" />
        <div class="row align-items-center">
            <div class="col-lg-7 call-out-block-text">
                <h2 class="heading-md">Want to be part of something bigger?</h2>
                <p>
                    If you want to make the world a better place, leaving us your phone number is the easiest way to make a difference. 
                    In a short call we’ll answer your questions and find your place in the movement. Join hundreds of local people, working together, today.
                </p>
            </div>
            <div class="col-lg-5 mt-3 mt-lg-0">
                <form class="position-relative call-out-block-form" method="post" id="home_page_signup_form" asp-action="Home_page_signup_form" asp-controller="Home">
                    <div class="row">
                        <div class="col-6">
                            <label for="PledgeFormFirstName" class="form-label">First Name</label>
                            <input id="PledgeFormFirstName" name="PledgeFormFirstName" class="form-control form-control-lg" type="text">
                        </div>
                        <div class="col-6">
                            <label for="PledgeFormSurname" class="form-label">Surname</label>
                            <input id="PledgeFormSurname" name="PledgeFormSurname" class="form-control form-control-lg" type="text">
                        </div>
                    </div>
                    <div class="form-final-row d-flex">
                        <div class="col-xl-9 col-lg-8 col-md-7">
                            <label for="PledgeFormMobile" class="form-label">Phone Number</label>
                            <input id="PledgeFormMobile" name="PledgeFormMobile" class="form-control form-control-lg" type="text">
                        </div>
                        <div class="align-self-end flex-grow-1">
                            <button type="button" class="w-100 btn btn-lg px-4" onclick="home_page_signup_form_submit();">Sign</button>
                        </div>
                    </div>
                    <span class="p-2 position-absolute top-100" id="form-error" style="display:none;">⚠️ Sorry, that didn't work. Please try again later</span>
                </form>
                <div class="mt-3 mt-lg-0" id="form-completed" style="display:none;">
                    <p class="heading-md" >✅ Thanks, <span id="signed-by-name"></span>!</p>
                    <p class="heading-sm">We'll be in touch soon</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="homepage-block hww">
    <div class="row align-items-center pb-0">
        <div class="col-lg-6 col-md-12 p-4 video">
            <iframe src="https://www.youtube-nocookie.com/embed/O7iHDDg2skU?si=RBYJHIqmoN_PR37h" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 col-md-12 p-4 blurb">
            <h1>How We Work</h1>
            <p>We start local, work with what we've got already (which in Hull, is a LOT), experiment all the time, and learn from each other. </p>
            <br/>
            <p>The good news is, we're not starting from scratch and we're not alone! This stuff is already working all over the world. We've borrowed ideas and tools all the way from Mississippi (Cooperation Jackson) to the Middle East (Rojava) and the East Riding.</p>
            <br/>
            <a class="" asp-area="" asp-controller="Home" asp-action="HowWeWork">Find out more about our tools &rarr;</a>
        </div>
    </div>
    <div class="spot">
        <img src="./assets/img/spot 1 1 2.png">
    </div>
</section>

<section class="homepage-block orange">
    <div class="row">
        <div class="col-12">
            <h2 class="heading-lg text-center pt-3 pb-5">What's happening next?</h2>

            <div class="row gx-5 gy-4">
                @foreach (HappenginNextEvent eventItem in Model.eventList)
                {
                    @Html.Partial("_HappeningNext", eventItem)
                }
            </div>
        </div>
    </div>
</section>
