
@{
    ViewBag.Title = "In Practice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<row>
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
        <h1 class="heading-xl">@ViewBag.Title</h1>
        </div>

        <div class="content-text-block">

        <p>These are complicated, global systems with complicated links between them all. How on earth do we think we’re going to have an impact?</p>
        <p>Start local. Work with what we’ve got already (which in Hull, is A LOT). Experiment all the time. And learn from each other. </p>
        <p>The good thing is, we are not starting from scratch and we are not alone! We’re one part of a global movement that is alive and kicking, which started before us and will continue long after we’re gone. We’ve borrowed ideas and tools all the way from Mississippi (Cooperation Jackson) to the Middle East (Rojava) and the East Riding.</p>


        <h3 class="heading-md">Neighbourhood Assemblies</h3>

        <p>These are People’s Assemblies at the local level – where we can come together, pool our ideas and skills, and make decisions about our own neighbourhoods. If we can connect up Neighbourhood Assemblies across the city, delegates from each one could be sent to the citywide Assembly, ensuring every community gets a say in citywide decisions</p>
        <p>As of October 2025, we’ve run 18 Neighbourhood Assemblies all across Hull. We’ve had discussions on a variety of topics like: “what divides us as a society?” “what unites us as a society?” “what are the biggest issues facing our communities and what can we do about them?” “how much faith do you have in the political system?”</p>
        <p>We’ve also run three Assemblies in HU3 alone, working with local organisations to deliver practical outcomes. In Feb 2024, we helped the local community kickstart Waffle, a weekly pay-what-you-can restaurant, using surplus food that would otherwise go to waste. Waffle is a place for neighbours to come together over good food and good music, and put the world to rights. The menu is high quality and changes every week, but the bill is always pay-what-you-can. It’s 100% volunteer run, and it’s a special place to be. 
            Follow <a href="https://www.instagram.com/waffle_hull/?hl=en" target="_blank"> @@waffle_hull on instagram</a>.
        </p>
        <p>In the summer of 2025 we ran a series of assemblies aimed at getting more practical projects off the ground. We now have 2 food co-ops, 1 savings club and 1 bold community energy project up and running.</p>


            <h3 class="heading-md">Food Co-ops</h3>

            <p>We all eat food! Why are we still doing it all alone, rushing to the shop after work, forced to buy unhealthy food, propping up a broken system and lining the pockets of supermarket chains?</p>
            <p>Food co-operatives are groups of friends who live nearby deciding to order groceries in bulk, working together to find cheaper & better food in a way that’s kinder on us and the world. Our co-ops get together once a month to make decisions about the co-op, share food and strengthen the community.</p>
            <p>Find out more and set up your own food co-op <a asp-controller="Home" asp-action="StartSelfOrganising">here</a></p>

            <h3 class="heading-md">Savings Clubs</h3>

            <p>Banks and loan sharks are taking the p*** out of our communities, running away with more than just our cash.</p>
            <p>Savings clubs are groups of friends deciding to save a bit of money together each month, taking it in turns to get a lump sum out each month, and building up a rainy day pot over time. The pot could go to someone in need (someone in the club or in the wider community) or to buy something we all want, or to invest or donate in a local project. Savings clubs all over Hull? That’s real money and power in our hands and  communities with a safety net. The less we need to rely on this failing economy, the stronger we are.</p>

            <p>Find out more and set up your own savings club <a asp-controller="Home" asp-action="StartSelfOrganising">here</a></p>


            <h3 class="heading-md">Power Hull</h3>
            <p>Power Hull are regular people on a mission to get solar panels up all over our city. They are residents of Hull who believe we should own and control our own energy system - keeping power and wealth in our city and in our hands, making sure people can afford the energy they need, and reducing our impact on the planet.</p>
            <p>Find out more <a href="https://www.powerhull.org/" target="_blank">here</a>.</p>


            <h3 class="heading-md">City-wide Assemblies</h3>
            <p>We want to see city-level versions of these neighbourhood assemblies happening all over the north of England. City-level assemblies can make bigger decisions about the big issues that impact our lives, and take their cue from the people and communities involved at the neighbourhood level. In time, we can work together with assemblies in neighbouring cities to share knowledge, labour, money, resources.</p>


            <h3 class="heading-md">Credit Unions</h3>
            <p>Taking our money back from banks that are supposedly ‘too big to fail’, pooling our savings in low-interest loans that can help us support each other and invest in our communities.</p>


            <h3 class="heading-md">Cooperatives</h3>

            <p>There are many different types of coops, but essentially it’s an organisation that is owned and controlled by its members. Instead of a normal business, you have a worker’s coop run by the workers, with decisions made democratically – one member, one vote. You can also have a housing co-op, where a group of people collectively own the house they live in rather than paying rent to a landlord or one person owning a whole house</p>
            <p>Cooperatives can decide to prioritise what’s good for the community, over what makes the most money for the boss.</p>


            <h3 class="heading-md">A Cooperative Incubator & Federation</h3>

            <p>An incubator would identify gaps in communities – for example Marfleet in East Hull is considered the UK’s worst ‘food desert’, with a lack of affordable shops and restaurants. Where there’s a gap, the incubator can help people form new coops to meet the need, e.g a grocery shop or greasy spoon. Where there’s businesses, the incubator can support them to transition to a coop model.</p>
            <p>The federation is all about connecting all the coops up into a network, so they can exchange labour and goods, and make decisions together – helping the solidarity economy become a true alternative that people can rely on.</p>

            <h3 class="heading-md">Local Currencies</h3>

            <p>New local currencies – such as the Brixton Pound in London or the Bristol Pound – can help keep money and services flowing locally rather than relying on imports and exports. It would encourage small businesses, coops and individuals to trade with each other, strengthening the local solidarity economy.</p>

            <h3 class="heading-md">Community Land Trusts</h3>

            <p>There are thousands of empty buildings in the UK, thousands of homeless people, and thousands of communities and families wishing they had more space to gather and play after work and school.</p>
            <p>Like most things in the failing economy, it just doesn’t add up.</p>
            <p>Community Land Trusts are one tool that can help us bring empty buildings and land back into community use, providing physical space for us to hold assemblies, whilst combating the housing crisis.</p>

            <p><b>IN PRACTICE:</b>In Hull, we are lucky to have the housing organisation <a href="https://giroscope.org.uk/" target="_blank">Giroscope</a>, who started out squatting empty buildings in the ‘80s and now provide affordable homes for over 100 local people in HU3.</p>

            <h3 class="heading-md">Tech Democracy</h3>
            <p>New tech is advancing all the time, bringing both huge potential and great risk. If we don’t get a handle on these technologies we know they will be owned and used by corporations, to make them more powerful and more wealthy, at the expense of people and planet. But if we can democratise these technologies – meaning, our communities own, understand and know how to use them – we can not only reduce this risk, but also use these tools to help us restore nature, use energy more efficiently, make decisions together, redesign our neighbourhoods and improve our quality of life.</p>


            <h3 class="heading-md">Local, Independent Media</h3>
            <p>At the moment, our media is carefully shaped by billionaire press owners and politicians. The people are more powerful when we have the information.</p>


            <h3 class="heading-md">Community Education</h3>
            <p>The education system is out of date and no longer serving our children, our teachers or our communities. The problems of the 21st century force us to ask ourselves: what is the real purpose of education? It is not to pass exams. It is to learn the skills we need in order to survive. To learn the skills we want, in order to thrive.</p>
            <p>We already have access to everything we need to know; our communities have teachers, mechanics, artists, scientists and everything in between. What we need to create is a new framework to skill-share and learn from each other.</p>
            <p><b>IN PRACTICE:</b> we’ve facilitated a dozen community teach-ins so far, with more lined up. Local people have told the story of Hull’s headscarf revolutionaries, we’ve been educated on the recent history of conflict and war, and we’ve shared the latest climate science with first-hand accounts from local environmentalists.</p>

            <h3 class="heading-md">Celebrating Music and Art</h3>
            <p>The desire to create is part of what makes us human. And making and sharing art has been a core part of every social movement in history. It’s no coincidence that repressive governments choose to repress art in our schools and in our communities – art is revolutionary.</p>
            <p>Music and art also help us tell our stories, connect across divides and share our thoughts and feelings. These are all necessary to help us through the times ahead.</p>
            <p>Celebrating creativity reminds us that there is joy in being alive – this is why we work.</p>


            <h3 class="heading-md">Community Restaurants</h3>
            <p>Eating together is a sure-fire way to build a sense of community; conversations flow over dinner and full bellies make for generous spirits. A regular practice (or new tradition?) of eating our locally-sourced ingredients in community-owned restaurants and kitchens will in turn feed our new culture. A culture where kids can tell you how the peas grow, where working mums are able to eat healthy meals, where everyone understands the seasons and respects the work of growing and harvesting, and where celebration is a key part of community life. </p>
            <p>In Feb 2024, we helped the local community kickstart Waffle, a weekly pay-what-you-can restaurant, using surplus food that would otherwise go to waste. Waffle is a place for neighbours to come together over good food and good music, and put the world to rights. The menu is high quality and changes every week, but the bill is always pay-what-you-can. It’s 100% volunteer run, and it’s a special place to be.
                Follow <a href="https://www.instagram.com/waffle_hull/?hl=en" target="_blank"> @@waffle_hull on instagram</a>
            </p>
            <p>Find out more and set up your own community restaurant <a asp-controller="Home" asp-action="StartSelfOrganising">here</a></p>


            <h3 class="heading-md">Direct Action & Civil Disobedience</h3>

            <p>We’re not about asking for permission from those in power. Instead we go right ahead and build, create, make and decide what we need. But sometimes we’re going to have to challenge the powerful, confront them, to demand and win what we need.</p>
            <p>Direct action and civil disobedience can take many, many forms, and it’s in Cooperation Hull’s DNA. As one tool among many, this can help us build the world we need.</p>

            <h3 class="heading-md">Got an idea or come across a tool you think works?</h3> <h3 class="heading-md">Let’s hear it: <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a></h3>
     
    </div>
</div>
</row>