
@{
    ViewBag.Title = "Membership";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <article class="col-12 content-page px-md-5">
        <div class="row pt-5">
            <h1 class="heading-xl">@ViewBag.Title</h1>
            <p>If you like what you’ve heard, if you’re just as worried and hopeful about the world as we are, and want to support our work, join us!</p>
        </div>

        <div class="pt-5 d-flex flex-column gap-8">
            <section>
                <div class="row">
                    <h2 class="pb-4">Anyone can become a member of Cooperation Hull</h2>
                </div>
                <div class="row gap-4 gap-lg-0">
                    <div class="col-12 col-lg-6">
                        <p>You’ll join a ramshackle community of strangers, from builders to poets, who all have one thing in common: we want to build a better world and we’re ready to roll up our sleeves.</p>
                        <p>Your monthly contributions will keep us going through thick and thin. Regular income, no matter how small, helps us plan into the future. And the knowledge that we have friends supporting us will help motivate us to keep knocking on doors, keep asking the hard questions, keep listening, keep trying and keep experimenting.</p>
                        <a class="button-link" asp-area="" asp-controller="Home" asp-action="Index">Read more about what we're doing &rarr;</a>
                    </div>
                    <img class="col-12 col-lg-6 object-fit-cover ml-4" src="~/assets/img/membership-photo-1-2048x1487.jpg" alt="2 people at a Cooporation Hull meeting" />
                </div>
            </section>

            <section>
                <div class="row justify-content-center">
                    <h3 class="pb-4 w-auto">Suggested Contributions Based on Your Income</h3>
                </div>
                <div class="row gap-3 justify-content-center">
                    <div class="col-lg-3">
                        <div class="bg-white p-3 rounded h-100 d-flex flex-column justify-content-between gap-3">
                            <div>
                                <h4>Minimum dues</h4>
                                <span>£2 per month</span>
                            </div>
                            <a class="button-link" href="https://buy.stripe.com/28ocN55KTbEg92w4gg" target="_blank">contribute &rarr;</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-white p-3 rounded h-100 d-flex flex-column justify-content-between gap-3">
                            <div>
                                <h4>Employed</h4>
                                <span>One hours wage per month. E.g. If you earn £12 per hour, consider contributing £12 per month.</span>
                            </div>
                            <a class="button-link" href="https://buy.stripe.com/eVafZh3CLgYAa6A4gh" target="_blank">contribute &rarr;</a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-white p-3 rounded h-100 d-flex flex-column justify-content-between gap-3">
                            <div>
                                <h4>High earner</h4>
                                <span>£20 per month</span>
                            </div>
                            <a class="button-link" href="https://buy.stripe.com/cN2bJ10qzeQs1A48wy" target="_blank">contribute &rarr;</a>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row">
                    <h2 class="pb-4">What’s more helpful than money? Time!</h2>
                </div>
                <div class="row gap-4 gap-lg-0">
                    <img class="col-12 col-lg-6 object-fit-cover ml-4" src="~/assets/img/membership-photo-3.jpg" alt="A Cooperation Hull volunteer talking to a man on the street" />
                    <div class="col-12 col-lg-6">
                        <p>If every person reading this contributed 1 hour a week to Cooperation Hull, we’d be well on our way to changing the world. As well as your monthly membership contribution, get stuck in on the ground.</p>
                        <p>Start by attending the next Cooperation Hull event. Experience an Assembly for yourself, attend a welcome talk, or just come to a social and say hello! Besides, you’ve got to come in person sometime to collect your free badge (they’re hot property, trust us).</p>
                        <p>As members, you’re entitled and encouraged to attend as many of our <b>monthly members meetings</b> as you can! Have your say in how Cooperation Hull works, and find your place in the movement. Details of all this will be in your welcome email.</p>
                    </div>
                </div>
            </section>
            
            <section class="pb-5">
                <div class="row">
                    <h2 class="pb-4">Pledge to Make the Hull People’s Assembly a Reality</h2>
                </div>
                <div class="row gap-4 gap-lg-0">
                    <div class="col-12 col-lg-6">
                        <p>When we have 2,000 signatures we’re launching the citywide Assembly. Two hundred people, meeting over several days, tackling a big topic.</p>
                        <p>Organising something this big won’t be easy! It will be all hands on deck go go go and <b>it’s our members who will make it happen</b>, working as part of a team to pull off something groundbreaking.</p>
                        <p>When the time comes we’ll be inviting all our members to <b>commit at least 10 hours</b> of your time to help make The Hull People’s Assembly a reality. </p>
                        <a class="button-link" asp-area="" asp-controller="Home" asp-action="thePledge">Sign the pledge &rarr;</a>
                    </div>
                    <img class="col-12 col-lg-6 object-fit-cover ml-4" src="~/assets/img/membership-photo-4.jpg" alt="A room full of people taking part in an People's Assembly" />
                </div>
            </section>
        </div>
    </article>
</div>

