@{
    ViewBag.Title = $"Our Principles And Values";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
            <h1 class="heading-xl">@ViewBag.Title</h1>
        </div>

        <div class="content-text-block">



            <h2>Building real local democracy, an economy based on cooperation and strong communities that look after each other and our planet.</h2>
            <h2> A new civilization, fit for the 21st century.</h2>

            <ol class="valuesList">
                <li>
                    <h3 class="heading-m">
                        We choose to believe that another world is still possible.
                    </h3>
                    <p>
                        We are living through a time of historic change, and there are plenty of reasons to be afraid.
                    </p>
                    <p> Despite this, we see the opportunity to build a better world, and are committed to doing our part.

                </li>
                <li>
                    <h3 class="heading-m">
                        We are building new structures; we do not ask for permission from those in power.
                    </h3>
                    <p>
                        The politics and economics of today are designed to concentrate power and wealth in the hands of a few; causing war, inequality, division and the breakdown of earth’s natural systems.
                    </p>
                    <p>
                        We are redesigning these systems from the ground up and putting them in the hands of the people. The ‘leaders’ of today will not give up power willingly; that’s why we’re not asking, but building, and why we’re open to using the tools of direct action and civil disobedience where necessary.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We’re creating a culture of self-organising.
                    </h3>
                    <p>
                        Building new structures from the ground up is going to need all of us, and from the youngest to the oldest we all have something to offer.
                    </p>
                    <p>
                        By bringing together all our diverse experience and knowledge, we can decide what our communities need and then make it happen for ourselves. We’re finding new trust in ourselves and each other; because many hands make light work.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We believe cooperation is a part of human nature.
                    </h3>
                    <p>
                        This is an inconvenient truth for people who only care about profit.
                    </p>
                    <p>
                        We’re bringing this truth back into our work, our neighbourhoods and our daily lives as we reject the lie of human selfishness and move towards a more cooperative, post-capitalist world.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We look for what we have in common and put cooperation at the centre.
                    </h3>
                    <p>
                        Disagreement is a part of life and we can’t have democracy without it.
                    </p>
                    <p>
                        We need to move beyond excluding opinions we don’t like and an obsession with ‘being right’. This means building bridges wherever possible and working with people we disagree with.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We welcome all people, but not all behaviours.
                    </h3>
                    <p>
                        We need people of all kinds to work together and we must accept that this will be messy, and harm will sometimes be caused.
                    </p>
                    <p>
                        We will act to prevent harm to any person or group based on who they are (their gender, race, age, religion, ability, sexuality, beliefs etc.) - this may sometimes require us to exclude someone if their harmful behaviour to others goes beyond our capacity to contain.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We are hard on systems, but soft on people.
                    </h3>
                    <p>
                        We avoid blaming or shaming people for harmful behaviours which have been created by a harmful world, particularly people who have very little power in society.
                    </p>
                    <p>
                        Instead we try to create the conditions for people to change, finding their power in solidarity rather than in division.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We give and receive feedback directly.
                    </h3>
                    <p>
                        We’re serious about working together to achieve a shared vision; so we must be serious about learning how to give and receive careful criticism.
                    </p>
                    <p>
                        This practice makes real democracy a genuine possibility, and helps us and our movements grow stronger. We will deal with conflict directly and with care, trying to understand and make amends so we can continue working together.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We care for each other, the natural world and people 7 generations from now. <a class="superscript" href="#footnote-1">*</a>
                    </h3>
                    <p>
                        Isolation from nature and short term thinking got us into this mess.
                    </p>
                    <p>
                        The only way out is to rebuild strong communities who care for this planet, for people around the world and for future generations.
                    </p>
                    <p>
                        We want a culture where no one is left behind.
                    </p>
                </li>

                <li>
                    <h3 class="heading-m">
                        We listen, we learn and we act.
                    </h3>
                    <p>
                        In this divided world listening has become a radical act, and we know we can never have all the answers alone.
                    </p>
                    <p>
                        We practice our ideas in the real world and experiment to find what works.
                    </p>
                </li>
            </ol>

            <hr />
            <p id="footnote-1" class="footnote">* Based on the philosophy of the indigenous Iroquois people </p>
        </div>

    </div>
</div>

