@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12 content-text content-page">
        <div class="top-image"></div>

        <div>
            <h1 class="heading-xl">@ViewData["Title"]</h1>
            <p>Revised 07 July 2024</p>
        </div>

        <div class="content-text-block">

            <p>
                This privacy notice for Cooperation Hull ('<strong>we</strong>', '<strong>us</strong>', or '<strong>our</strong>'), describes how and why we might
                collect, store, use, and/or share ('<strong>process</strong>') your information when you use our services ('<strong>Services</strong>'), such as when you:
            </p>

            <ul>
                <li>
                    Visit our website at https://www.cooperationhull.co.uk/
                </li>
            </ul>
            <ul>
                <li>
                    Engage with us in other ways, such as talking to our members at our stalls, assemblies or other events
                </li>
            </ul>
            <p>
                Reading this privacy notice will help you understand your privacy rights and choices.
                If you do not agree with our policies and practices, please do not provide us with any information that can be used to identify you in the future.
            </p>
            <p>
                If you still have any questions or concerns, please contact us at <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a>.
            </p>

            <h2 class="heading-lg">Summary Of Key Points</h2>
            <p>
                This summary provides key points from our privacy notice,
                but you can find out more details about any of these topics by clicking the link following each key point or by using our
                <em>table of contents</em> below to find the section you are looking for.
            </p>

            <p>
                <strong>What personal information do we process?</strong>
                When you visit, use, or navigate our Services, we may process personal information depending on how you interact with us,
                and the choices you make. Learn more about <a href="#personalinfo">personal information you disclose to us</a>
            </p>


            <p>
                <strong>Do we process any sensitive personal information?</strong>
                We may process sensitive personal information when necessary with your consent or as otherwise permitted by applicable law. Learn more about&nbsp;
                <a href="#sensitiveinfo">sensitive information we process</a>.
            </p>

            <p>
                <strong>Do we collect any information from third parties?</strong>
                We do not collect any information from third parties.
            </p>

            <p>
                <strong>How do we process your information?</strong>
                We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law.
                We may also process your information for other purposes with your consent.
                We process your information only when we have a valid legal reason to do so. Learn more about&nbsp;<a href="#howWeProcess">how we process your information</a>.
            </p>

            <p>
                <strong>
                    In what situations and with which parties do we share personal information?
                </strong>
                We may share information in specific situations and with specific third parties. Learn more about&nbsp;<a href="#whoshare">when and with whom we share your personal information</a>
            </p>

            <p>

                <strong>How do we keep your information safe?</strong> We have organisational and technical processes and procedures in place to protect your personal information.
                However, no electronic transmission over the internet or information storage technology can be guaranteed to be 100% secure,
                so we cannot promise or guarantee that hackers, cybercriminals, or other
                unauthorised
                third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information. Learn more about&nbsp;
                <a href="#infosafe">how we keep your information safe</a>.

            </p>

            <p>
                <strong>What are your rights?</strong> Depending on where you are located geographically, the applicable privacy law may mean you have certain rights regarding your personal information.
                Learn more about&nbsp;<a href="#privacyrights">your privacy rights</a>.
            </p>
            <p>
                <strong>How do you exercise your rights?</strong> The easiest way to exercise your rights is by submitting a data subject access request by sending an email to <a href="#"></a>
                <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a>
                , speaking directly to one of our volunteers, or messaging us on one of our social media platforms. We will consider and act upon any request in accordance with applicable data protection laws.
            </p>

            <h2 class="heading-lg">Table Of Contents</h2>

            <ol>
                <li><a href="#infocollect">What Information Do We Collect?</a></li>
                <li><a href="#infouse">How Do We Process Your Information?</a></li>
                <li><a href="#legalbases">What Legal Bases Do We Rely On To Process Your Personal Information?</a></li>
                <li><a href="#whoshare">When And With Whom Do We Share Your Personal Information?</a></li>
                <li><a href="#cookies">Do We Use Cookies And Other Tracking Technologies?</a></li>
                <li><a href="#infouse">How Long Do We Keep Your Information?</a></li>
                <li><a href="#infosafe">How Do We Keep Your Information Safe?</a></li>
                <li><a href="#infominors">Do We Collect Information From Minors?</a></li>
                <li><a href="#privacyrights">What Are Your Privacy Rights?</a></li>
                <li><a href="#notrack">Controls For Do-Not-Track Features</a></li>
                <li><a href="#policyupdates">Do We Make Updates To This Notice?</a></li>
                <li><a href="#contact">How Can You Contact Us About This Notice?</a></li>
                <li><a href="#request">How Can You Review, Update, Or Delete The Data We Collect From You?</a></li>
            </ol>

            <h2 id="infocollect" class="heading-lg">1. What Information Do We Collect?</h2>

            <p><strong>Personal information you disclose to us</strong></p>
            <p><strong>In Short:</strong> We collect personal information that you provide to us.</p>

            <p>
                We collect personal information that you voluntarily provide to us when you express an interest in obtaining information about us or our products and Services,
                when you participate in activities on the Services, or otherwise when you contact us.
            </p>
            <p>
                The personal information that we collect depends on the context of your interactions with us and the Services and the choices you make.
                The personal information we collect may include the following:
            </p>

            <ul>
                <li>names</li>
                <li>phone numbers</li>
                <li>email addresses</li>
                <li>mailing addresses</li>
                <li>photographs and videos</li>
            </ul>

            <p>When necessary, with your consent or as otherwise permitted by applicable law, we process the following categories of sensitive information:</p>
            <ul>
                <li>financial data</li>
                <li>information revealing political opinions</li>
                <li>information revealing trade union membership</li>
            </ul>

            <p>
                <strong>Payment Data.</strong>
            </p><p>
                If you choose to become a member or request financial assitance we will collect the data necessary to complete the assosciated financial transactions.
                All payment data is handled and stored by stripe. You may find their privacy notice link(s) here:
                <a href="https://support.stripe.com/questions/privacy-and-security-of-personal-information-submitted-to-stripe" target="_blank">https://support.stripe.com/questions/privacy-and-security-of-personal-information-submitted-to-stripe</a>
            </p>

            <h2 class="heading-lg" id="infouse">2. How Do We Process Your Information?</h2>

            <p><strong><em>In Short:&nbsp;</em></strong>We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent.</p>

            <p>We process your personal information for a variety of reasons, depending on how you interact with our Services, including:</p>

            <ul>
                <li>To send you information about upcoming events you may be interested in attending</li>
                <li>To send you updates about our activities and progress</li>
                <li>To help us understand the local community and improve our outreach efforts.</li>
                <li>To send financial assistance and collect donations and membership fees.</li>
            </ul>

            <p>We may also process your information when necessary to save or protect an individual's vital interests such as to prevent harm.</p>


            <h2 class="heading-lg" id="legalbases">3. What Legal Basis Do We Reply On To Process Your Personal Information?</h2>

            <p>
                <strong>In Short:</strong> We only process your personal information when we believe is is necessary and we have a valid legal reason (i.e. legal basis) to do so under applicable law,
                like with your consent, to comply with laws, to provide you with services or to protect your rights.
            </p>


            <p>
                The General Data Protection Regulation (GDPR) and UK GDPR requires us to explain the valid legal bases we rely on in order to process your personal information.
                As such, we may rely on the following legal bases to process your personal information:
            </p>

            <ul>

                <li>
                    <strong>Consent.&nbsp;</strong>We may process your information if you have given us permission (i.e. consent) to use your personal information for a specific purpose. You can withdraw your consent at any time.
                </li>
                <li>
                    <strong>Legitimate Interests.</strong> We may process your information when we believe it is reasonably necessary to achieve our legitimate interests, those interests do not outweigh your interests and fundamental rights and freedoms.
                </li>
                <li>
                    <strong>Legal Obligations.</strong> We may process your information where we believe it is necessary for compliance with our legal obligations,
                    such as to cooperate with a law enforcement body or regulatory agency, exercise or defend our legal rights,
                    or disclose your information as evidence in litigation in which we are involved.
                </li>
                <li>
                    <strong>Vital Interests.</strong> We may process your information where we believe it is necessary to protect your vital interests or the vital interests of a third party, such as situations involving potential threats to the safety of any person.
                </li>

            </ul>
            <p>
                In legal terms, we are generally the 'data controller' under European and UK data protection laws of the personal information described in this privacy notice,
                since we determine the means and/or purposes of the data processing we perform.
            </p>


            <h2 class="heading-lg" id="whoshare">4. When And With Whom Do We Share Your Personal Information?</h2>

            <p>
                <strong><em>In Short:</em></strong>&nbsp;We may share information in specific situations described in this section and/or with the following third parties.
            </p>


            <p>
                <strong>Vendors, Consultants, and Other Third-Party Service Providers.</strong> We may share your data with third-party vendors, service providers, contractors, or agents (
                '<strong>third parties</strong>') who perform services for us or on our behalf and require access to such information to do that work.
                We have contracts in place with our third parties, which are designed to help safeguard your personal information.
                This means that they cannot do anything with your personal information unless we have instructed them to do it.
                They will also not share your personal information with any organisation
                apart from us. They also commit to protect the data they hold on our behalf and to retain it for the period we instruct.
            </p>


            <p>
                The third parties we may share personal information with are as follows:
            </p>

            <ul>
                <li>Action Network</li>
                <li>Zetkin</li>
                <li>Stripe</li>
            </ul>


            <p>
                We  also may need to share your personal information in the following situations:
            </p>

            <ul>
                <li><strong>Organisation Mergers</strong>. We may share or transfer your information in connection with any merger of the organisation with another similar organisation.</li>
                <li> <strong>When we use Google Maps Platform APIs.</strong> We may share your information with certain Google Maps Platform APIs (e.g. Google Maps API, Places API).</li>
            </ul>


            <h2 class="heading-lg" id="cookies">5. Do We Use Cookies And Other Tracking Technologies?</h2>

            <p><strong><em>In Short:</em></strong>&nbsp;We may use cookies and other tracking technologies to collect and store your information.</p>

            <p>
                We may use cookies and similar tracking technologies (like web beacons and pixels) to gather information when you interact with our Services.
                Some online tracking technologies help us maintain the security of our Services, prevent crashes, fix bugs, save your preferences, and assist with basic site functions.
            </p>

            <p>
                We also permit third parties and service providers to use online tracking technologies on our Services for analytics and to assist in the provision of services.
            </p>

            <p>Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy.</p>


            <h2 class="heading-lg" id="infouse">6. How Long Do We Keep Your Information?</h2>

            <p>
                <strong><em>In Short:&nbsp;</em></strong>
                We keep your information for as long as necessary to fulfil the purposes outlined in this privacy notice unless otherwise required by law.
                </em>
            </p>

            <p>
                We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting, or other legal requirements).
                No purpose in this notice will require us keeping your personal information for longer than 1 years after your last contact with us.</bdt>
            </p>

            <p>
                When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymise
                such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
            </p>


            <h2 class="heading-lg" id="infosafe">7. How Do We Keep Your Information Safe?</h2>

            <p>
                <strong><em>In Short:&nbsp;</em></strong>
                We aim to protect your personal information through a system of organisational and technical security measures.
            </p>


            <p>
                We have implemented appropriate and reasonable technical and organisational security measures designed to protect the security of any personal information we process.
                However, despite our safeguards and efforts to secure your information,
                no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure,
                so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorised
                third parties will not be able to defeat our security and improperly collect, access, steal, or modify your information.
                Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk.
                You should only access the Services within a secure environment.
            </p>


            <h2 class="heading-lg" id="infominors">8. Do We Collect Information From Minors?</h2>

            <p>
                <strong><em>In Short:</em></strong>&nbsp;We do not knowingly collect data from or market to children under 18 years of age, but may do so when they accompany their parents or legal guardians to one of our events.
            </p>

            <p>
                We do not knowingly collect, solicit data from, or accept membership applications from children under 18 years of age.
                By using the Services, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s
                use of the Services.
                If we learn that personal information from users less than 18 years of age has been collected,
                we will deactivate the account and take reasonable measures to promptly delete such data from our records.
                If you become aware of any data we may have collected from children under age 18, please contact us at hello@cooperationhull.co.uk
            </p>

            <h2 class="heading-lg" id="privacyrights">9. What Are Your Privacy Rights?</h2>

            <p>
                <strong><em>In Short:</em></strong> Your personal information will be processed in accordance with the laws of the United Kingdom (UK).  If your place of residence is
                in a location that grants you greater rights then the relevant legislation in that location will be respected.
            </p>


            <p>You have</p>

            <ul>
                <li>The right to be informed how your information will be collected and processed.</li>
                <li>The right of access to any personal information help about you.</li>
                <li>The right to rectification of any incorrect information.</li>
                <li>The right to erasure or restrict processing</li>
                <li>The right to not be subject to automated decision making.</li>
            </ul>


            <p>
                We will consider and act upon any request in accordance with applicable data protection laws.
                If you believe we are unlawfully processing your personal information, you also have the right to complain to the
                <a href="https://ico.org.uk/make-a-complaint/data-protection-complaints/data-protection-complaints/">UK data protection authority</a>
            </p>

            <p>
                If you are located in the EEA you can complain to your
                <a href="https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm" target="_blank">
                    Member State data protection authority
                </a> or&nbsp;
            </p>

            <p>
                If you are located in Switzerland, you may contact the<a href="https://www.edoeb.admin.ch/edoeb/en/home.html" target="_blank">Federal Data Protection and Information Commissioner</a>
            </p>

            <p>
                <strong>Withdrawing your consent:</strong> If we are relying on your consent to process your personal information,
                you have the right to withdraw your consent at any time. You can withdraw your consent at any time by contacting us by using the contact details provided.
                However, please note that this will not affect the lawfulness of the processing before its withdrawal nor,
                will it affect the processing of your personal information conducted in reliance on lawful processing grounds other than consent.
            </p>


            <p>
                <strong>Opting out of marketing and promotional communications:</strong><strong>&nbsp;</strong>
                You can unsubscribe from our marketing and promotional communications at any time by
                clicking on the unsubscribe link in the emails that we send,
                or by contacting us using the details provided in the section below. You will then be removed from the marketing lists.
                However, we may still communicate with you — for example, to send you service-related messages that are necessary for the administration and use of your account,
                to respond to service requests, or for other non-marketing purposes.
            </p>


            <p>
                <strong>Cookies and similar technologies:</strong> Most Web browsers are set to accept cookies by default.
                If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies.
                If you choose to remove cookies or reject cookies, this could affect certain features or services of our Services.
            </p>

            <p>
                If you have questions or comments about your privacy rights, you may email us at <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a>
            </p>


            <h2 id="notrack" class="heading-lg">10. Controls For Do-Not-Track Features</h2>

            <p>
                Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (
                'DNT'
                ) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected.
                At this stage, no uniform technology standard for recognising and implementing DNT signals has been finalised.
                As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online.
                If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.
            </p>


            <h2 class="heading-lg" id="policyupdates">11. Do We Make Updates To This Notice?</h2>

            <p><strong>In Short:&nbsp;</strong>Yes, we will update this notice as necessary to stay compliant with relevant laws.</p>

            <p>
                We may update this privacy notice from time to time. The updated version will be indicated by an updated
                'Revised' date at the top of this privacy notice.
                If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification.
                We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.
            </p>


            <h2 class="heading-lg" id="contact">12. How Can You Contact Us About This Notice?</h2>

            <p>
                If you have questions or comments about this notice, you may email us at <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a>
            </p>

            <h2 id="request" class="heading-lg">13. How Can You Review, Update, Or Delete The Data We Collect From You?</h2>

            <p>
                You have the right to request access to the personal information we collect from you, details about how we have processed it,
                correct inaccuracies, or delete your personal information. You may also have the right to withdraw your consent to our processing of your personal information.
                These rights may be limited in some circumstances by applicable law. To request to review, update, or delete your personal information, please submit a data subject access request
            </p>

        </div>
    </div>
</div>


