@{
    ViewBag.Title = "Start Self-Organising";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<row>
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
            <h1 class="heading-xl">@ViewBag.Title</h1>
        </div>

        <div class="content-text-block">

            <p>On the <a asp-controller="Home" asp-action="InPractice">In Practice</a> page we shared some of the tools we’re experimenting with to build a solidarity economy, real local democracy, stronger communities and a healthy earth.</p>

            <p>Two of these tools - <a href="#savingsClubAnchor">Savings Clubs </a> and <a href="#foodCoopAnchor">Food Co-ops</a> - can be started by you and a group of friends or neighbours, wherever you are.</p>

            <p>These tools are simple and straightforward. But don’t underestimate them. There’s more to them than meets the eye.</p>
            <p>Both of these tools:</p>

            <ul>
                <li>Run on real, democratic decision making - this is a skill we’ve largely forgotten about in today’s society, and one we need back.</li>
                <li>Bring groups of people together to socialise and strategise - that’s the makings of real, local power.</li>
                <li>Help us build up actual resources, in the form of cash savings, access to food and the skills and land to grow it.</li>
                <li>Have the potential to grow and scale - many savings clubs and food co-ops working together.</li>
                <li>Help us rebuild a real sense of community, creating networks of people we can rely on outside our immediate family and practising how to ask for what we need.</li>
            </ul>

            <p>All of this helps create safety nets for us and our communities, whilst taking our power away from corrupt and broken institutions, and building organised, connected neighbourhoods who can’t be so easily pushed around.</p>

            <p>If these tools were linked up, savings clubs all around the city with growing pots of money to call on, food co-ops across the north connected to pieces of land…</p>

            <p><b>Then what could be possible?</b></p>

            <h3 class="heading-md">Here’s what we know about Savings Clubs and Food Co-ops so far.</h3>

            <p>We’re learning more all the time and testing and trialling different ways they can work. Get started whoever and wherever you are, and stay in touch on <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a></p>

            <h2 class="heading-lg" id="savingsClubAnchor">Start a Savings Club</h2>

            <p class="quote">“I love spending time with friends and neighbours, with a shared purpose. When we meet, it’s to catch up, eat, laugh with the neighbour’s kids, and to make decisions about the savings club. It strengthens relationships with people and creates a feeling of support and safety.”</p>

            <p>First, get familiar with the different types of savings clubs. The world's your oyster, and you can make your own hybrid if you want, but here are the two most common models:</p>

            <h3 class="heading-md">Traditional Rotating Fund</h3>

            <p>Communities all around the world use rotating funds. Rotating funds often enable group members to save for amounts that can be hard to manage on their own; they can create a sense of security and a positive outlook towards the future, good saving habits, and stronger connections between the group members.</p>

            <p><b>How it works:</b> every week or month everyone in the group contributes to the common fund and every week or month one person takes the whole pot. This continues until everyone has received the whole amount once. The allocation of the pot is decided by lottery or negotiation, for example if someone in the group needs money suddenly, they may ask to have their turn first.</p>

            <h3 class="heading-md">Traditional Accumulating Fund</h3>

            <p>Accumulating funds are also common all over the world. They often enable group members to save for even larger amounts or for communities to buy something together. For example, you may be working with your neighbours, friends or family to purchase something together or to support a common cause. Kin groups can be a way for you to manage contributions and keep track of your goal. Think of putting a new roof on the community centre or putting solar panels on the local car park or starting your own coop but getting started on kin before you incorporate.</p>

            <p><b>How it works:</b> everyone in the group contributes to the common fund. It can be every day, week or month, it can be the same amount for all the members or different amounts depending on what you are building the funds up for together. The group decides together how the money will be used; whether it is for the members to request individually or to reach a goal to make a common purchase.</p>

            <h3 class="heading-md">Mash up!</h3>

            <p>In one of the Cooperation Hull savings clubs, we do a mixture of the two. We do the rotation, where everyone gets their turn to take the money out, but we don't take the whole pot out every month, and instead leave a little bit behind. This pot builds, and after a few months or a year we can decide how to spend it. 
                A no-interest loan or gift to someone in need in the community? A big, shared purchase for the street? A group trip away? A donation to a local project? It’s our money, so it’s up to us.
            </p>

            <h3 class="heading-md">First Steps</h3>

            <ol>
                <li>Become a member of <a href="https://kin.coop/" target="_blank">Kin Co-op</a> for as little as £1. The best thing about starting a savings club is that Kin (a friend and partner to Cooperation Hull), has done all the hard work for us of setting up a safe, online system for tracking the payments. Have a browse of their <a href="https://kin.coop/" target="_blank">website</a> for all the info you need.</li>
                <li>Get your group together, decide on your model and when you'll start saving</li>
                <li>Agree how often you will meet. A key part of our savings club has been the social element. Think of it like a book club. Why not agree to meet every 2 months for a pot luck dinner, book the dates in advance, and rotate the hosting duties?</li>
                <li>Get everyone set up on Kin and agree who will do the admin duties (approving payments on Kin)</li>
                <li>Get in touch with us so we can help build up the network of Savings Clubs in the UK! Real power in community hands.</li>
            </ol>

            <p class="quote">“I love the subtle challenge of talking about money openly! We’re not used to it in our culture. But it’s good, humbling, interesting and connecting, to say ‘I need this’ or ‘I don’t need this, I want you to have it’ or ‘I think this is more important than that’. These are the conversations that will help shape the future of our communities.”</p>

            <h2 class="heading-lg" id="foodCoopAnchor">Start a Food Co-op</h2>

            <p class="quote">“I love that it has become part of my house’s DNA and is an exciting feature of it. I love the gossiping around what food we have and the receiving of empty jars and the return of bags as we pack for another week. I love how each week is the same but also different.”</p>

            <h3 class="heading-md">What is it?</h3>

            <p>Before we formed a food group – like most people – we got our food by walking (or driving) to a shop, picking from their selection, paying rising prices with money from our wages or benefits, then travelling back home with it. In this food system, profit is extracted from workers at every stage - farmers, packers, drivers and shop staff - and is delivered to us right before it goes off rather than at its freshest. </p>

            <p>Instead of having a group who organise the project and a separate group who receive the food, we can make food costs much cheaper by sharing the work. We work together without hierarchy, with roles – like packing the food parcels, organising meetings or socials, keeping track of money – being shared between those who are able and using consensus decision-making. This makes sure every individual gets their needs met, giving them control over the food they receive, while sharing work so the group remains fluid to each person’s capacity week-by-week. </p>

             <p>The food distribution groups are based on Cooperation Town’s ‘Food Co-ops’. We recommend you scour their <a href="https://cooperation.town/organise/" target="_blank">guide</a> to learn how they work and what they do.</p>


             <p><b> Because of the time it takes to set up these groups, we recommend checking this list of <a href="https://nurturehull.org.uk/community-food-aidproviders/" target="_blank">Community Food Aid Providers</a> compiled by the Council if you urgently need food.</b></p>

            <p>  We ended up focusing on getting food from <a href="https://fareshare.org.uk/" target="_blank">FareShare</a>, because we couldn’t find many items that were cheaper by buying in bulk from commercial sources. FareShare is a charity that accumulates food that would otherwise go to waste in our broken food system, often from stock not being bought at some point along the supply chain due to demand being too low or middlemen not buying at high enough prices for producers to make a profit. </p>


            <p>One day your food distribution group could be buying directly from farming or wholesaler businesses themselves. Or they could be supplied by local decentralised not-for-profit growing groups…who knows what might happen! For now, using FareShare’s surplus is a good option to gain access to cheaper food and to build a group. </p>

                <p class="quote">“In about 6 months, 17 individuals across 5 houses paying £3 a week collectively saved about £500. This was mainly due to having low food costs - we were buying through Fareshare and spending about £15 a week.” </p>

                <p>You’ll need to contact FareShare at <a href="mailto:fshullhumber@fareshare.org.uk">fshullhumber@fareshare.org.uk</a> to request an account. We strongly recommend asking to receive at least 50% fresh fruit and veg, as FareShare have them in excess and they can struggle to distribute them before they go off. The two food groups active at the moment ask for ~50% of the crates to be fresh veg and 1-2 crates of fresh fruit. </p>

                <h3 class="heading-md">Get started with Fareshare </h3>

                <p>To set up a FareShare account, you will need to organise:</p>

                <ul>
                    <li>Finding a site with a regularly inspected kitchen: it can’t be someone’s house and it can’t be a site that sells food (like a café or restaurant). This allows the option of paying a little extra for delivery to the site rather than collecting from FareShare. If the site has no fridge or freezer, you’ll be limited to fresh fruit and veg and cupboard food items, but this is likely still worth it. So far, the two active groups run out of the Lonsdale Community Centre. This is also very useful as a space for the group members to meet!</li>
                    <li>Finances: FareShare cannot invoice a personal bank account, so there are two options:
                            <ul>
                                <li>Collaborating with an organisation who has a bank account, so they get invoiced by FareShare and then they invoice the food group for the same amount to get reimbursed. If you don’t have any ties to organisations who can do this for your group, this is something that Cooperation Hull can offer.</li>
                                <li>An option for a FareShare account which we didn’t explore is opening an organisational bank account for the group.</li>
                            </ul>
                        </li>
                    <li>Is a member of the group-to-be Food Hygiene certified to at least Level 2? If no one is, your group will still be able to receive fresh fruit, vegetables and cupboard items, but no meat, fish, chilled or frozen foods </li>
                    <li>Gather together a group of around 20 people!! And then fill out the FareShare forms together. Cooperation Town recommend not going bigger than around 20 people per group, but we have ended up with 20-30 people in each group including children</li>
                </ul>

                <p>Please reach out to <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a> if you need any support with setting up a FareShare account or a food group. We’d love to help if we’re able to do so. </p>

                <p class="quote">“Having the food distribution hub as someone’s house or your local community space means there’s already an informal domestic feeling to the experience of shopping. It means the members are able to walk there, through the neighbourhood, connecting to their area. And with the hyperlocal set up, it also means the neighbourhood is being used to socialise with people maybe outside your typical friendship circle and this feels important. Residential areas NEED diversity and difference and they THRIVE with shared spaces.”</p>

                <h3 class="heading-md">Have you successfully set up a new food distribution group? </h3>

                <p>Please get in touch if you haven’t already! If your group is happy to, it’d be good to have a line of communication open so we can learn from you. </p>

                <p>We need a revolution of the food system, where every stage of labour involved in food is worker-owned and non-exploitative. Where the technology used is synchronised with the natural world instead of harming it. Where no one goes hungry. The food distribution groups are components building towards this greater whole.  </p>

                <p class="quote">“Setting up the account with FareShare and learning about the work that they do – seeing the excesses of food for myself – showed me clearly that food scarcity isn’t the reason people are going hungry. There’s enough food in Hull. Government laws stop it being distributed to everyone to make sure company owners can continue to make money.”</p>

        </div>

    </div>

</row>

