@{
    ViewBag.Title = "Start Self-Organising";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<row>
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
            <h1 class="heading-xl">@ViewBag.Title</h1>
        </div>

        <div class="content-text-block">

            <p>On the <a asp-controller="Home" asp-action="InPractice">In Practice</a> page we shared some of the tools we’re experimenting with to build a solidarity economy, real local democracy, stronger communities and a healthy earth.</p>

            <p>Two of these tools - <a href="#savingsClubAnchor">Savings Clubs </a> and <a href="#foodCoopAnchor">Food Co-ops</a> - can be started by you and a group of friends or neighbours, wherever you are.</p>

            <p>These tools are simple and straightforward. But don’t underestimate them. There’s more to them than meets the eye.</p>
            <p>Both of these tools:</p>

            <ul>
                <li>Run on real, democratic decision making - this is a skill we’ve largely forgotten about in today’s society, and one we need back.</li>
                <li>Bring groups of people together to socialise and strategise - that’s the makings of real, local power.</li>
                <li>Help us build up actual resources, in the form of cash savings, access to food and the skills and land to grow it.</li>
                <li>Have the potential to grow and scale - many savings clubs and food co-ops working together.</li>
                <li>Help us rebuild a real sense of community, creating networks of people we can rely on outside our immediate family and practising how to ask for what we need.</li>
            </ul>

            <p>All of this helps create safety nets for us and our communities, whilst taking our power away from corrupt and broken institutions, and building organised, connected neighbourhoods who can’t be so easily pushed around.</p>

            <p>If these tools were linked up, savings clubs all around the city with growing pots of money to call on, food co-ops across the north connected to pieces of land…</p>

            <p><b>Then what could be possible?</b></p>

            <h3 class="heading-md">Here’s what we know about Savings Clubs and Food Co-ops so far.</h3>

            <p>We’re learning more all the time and testing and trialling different ways they can work. Get started whoever and wherever you are, and stay in touch on <a href="mailto:hello@cooperationhull.co.uk">hello@cooperationhull.co.uk</a></p>

            <h2 class="heading-lg" id="savingsClubAnchor">Start a Savings Club</h2>

            <p class="quote">“I love spending time with friends and neighbours, with a shared purpose. When we meet, it’s to catch up, eat, laugh with the neighbour’s kids, and to make decisions about the savings club. It strengthens relationships with people and creates a feeling of support and safety.”</p>

            <p>First, get familiar with the different types of savings clubs. The world's your oyster, and you can make your own hybrid if you want, but here are the two most common models:</p>

            <h3 class="heading-md">Traditional Rotating Fund</h3>

            <p>Communities all around the world use rotating funds. Rotating funds often enable group members to save for amounts that can be hard to manage on their own; they can create a sense of security and a positive outlook towards the future, good saving habits, and stronger connections between the group members.</p>

            <p><b>How it works:</b> every week or month everyone in the group contributes to the common fund and every week or month one person takes the whole pot. This continues until everyone has received the whole amount once. The allocation of the pot is decided by lottery or negotiation, for example if someone in the group needs money suddenly, they may ask to have their turn first.</p>

            <h3 class="heading-md">Traditional Accumulating Fund</h3>

            <p>Accumulating funds are also common all over the world. They often enable group members to save for even larger amounts or for communities to buy something together. For example, you may be working with your neighbours, friends or family to purchase something together or to support a common cause. Kin groups can be a way for you to manage contributions and keep track of your goal. Think of putting a new roof on the community centre or putting solar panels on the local car park or starting your own coop but getting started on kin before you incorporate.</p>

            <p><b>How it works:</b> everyone in the group contributes to the common fund. It can be every day, week or month, it can be the same amount for all the members or different amounts depending on what you are building the funds up for together. The group decides together how the money will be used; whether it is for the members to request individually or to reach a goal to make a common purchase.</p>

            <h3 class="heading-md">Mash up!</h3>

            <p>In one of the Cooperation Hull savings clubs, we do a mixture of the two. We do the rotation, where everyone gets their turn to take the money out, but we don't take the whole pot out every month, and instead leave a little bit behind. This pot builds, and after a few months or a year we can decide how to spend it. 
                A no-interest loan or gift to someone in need in the community? A big, shared purchase for the street? A group trip away? A donation to a local project? It’s our money, so it’s up to us.
            </p>

            <h3 class="heading-md">First Steps</h3>

            <ol>
                <li>Become a member of <a href="https://kin.coop/" target="_blank">Kin Co-op</a> for as little as £1. The best thing about starting a savings club is that Kin (a friend and partner to Cooperation Hull), has done all the hard work for us of setting up a safe, online system for tracking the payments. Have a browse of their <a href="https://kin.coop/" target="_blank">website</a> for all the info you need.</li>
                <li>Get your group together, decide on your model and when you'll start saving</li>
                <li>Agree how often you will meet. A key part of our savings club has been the social element. Think of it like a book club. Why not agree to meet every 2 months for a pot luck dinner, book the dates in advance, and rotate the hosting duties?</li>
                <li>Get everyone set up on Kin and agree who will do the admin duties (approving payments on Kin)</li>
                <li>Get in touch with us so we can help build up the network of Savings Clubs in the UK! Real power in community hands.</li>
            </ol>

            <p class="quote">“I love the subtle challenge of talking about money openly! We’re not used to it in our culture. But it’s good, humbling, interesting and connecting, to say ‘I need this’ or ‘I don’t need this, I want you to have it’ or ‘I think this is more important than that’. These are the conversations that will help shape the future of our communities.”</p>

            <h2 class="heading-lg" id="foodCoopAnchor">Start a Food Co-op</h2>

            <p class="quote">“I love that it has become part of my house’s DNA and is an exciting feature of it. I love the gossiping around what food we have and the receiving of empty jars and the return of bags as we pack for another week. I love how each week is the same but also different.”</p>

            <h3 class="heading-md">A food buyers co-operative: what it is, and what it isn't</h3>

            <p>A food co-operative involves, you guessed it, cooperation. Each member takes equal responsibility for running the co-op e.g. turning up to meetings/socials, doing your share of food ordering or distribution, and helping make decisions. It’s an example of self-organising, which means it is not a service.</p>

            <p><b>A food co-op is not a food bank.</b> The demand for food banks has risen massively in the last few years, and they can be a lifeline for people in need. But it’s a service - some people provide the service and others use it - and it doesn’t give us the skills to organise our own lives. It’s also part and parcel of the broken food system. If the food system (and the wider economic system) were an old, crumbling house, food banks would be the polyfiller pasting over the cracks. Whilst food co-ops are building a new, better house next door.</p>

            <h3 class="heading-md">First Steps</h3>

            <ol>
                <li>Get your group together. You need to live fairly close together and around 20 people (across multiple households) is about right.</li>
                <li>Decide what kind of co-op you want. Is it purely about cost savings for your group? Is it also about transforming the food system by supporting local growers? A bit of both? Identifying your vision and purpose early on will help you make your decisions about what to buy and from where.</li>
                <li>Identify the best place to store and distribute your food each week. Could this be someone's house? A friendly community centre or church? Where is there space and who do you need to contact?</li>
            <li>Explore the <a href="https://cooperation.town/about/" target="_blank">Cooperation Town guide</a> for more info on where to get your food. We’ve found this has so much of what we needed to get set up, except access to surplus food wasn’t quite the same for us here in Hull. You’ll have to figure out what works for your location, context and group. But both Cooperation Town and us at Cooperation Hull are keen to help you figure it all out</li>

                <li>If one of your priorities is contributing to an alternative food system, then think about <a href="https://fareshare.org.uk/" target="_blank">Fare Share</a> or supermarket surplus as a stepping stone. It’s still part of a broken system - with fragile, just-in-time supply chains and farming practices that are terrible for the planet. So, it’s not the end goal in itself, but in the meantime we’re tackling food waste and saving some cash. If your food co-op can make some cost savings this way, and you’re able to pass those savings on (which depends on the need of your particular co-op) look into local growers and farmers in your area who you can start to support. Typically, small, independent farmers are struggling to make ends meet. Our food co-ops can be a way of building up some purchasing power - buying in bulk - which can make getting veg boxes from local farms beneficial for both of you.

                <p class="quote">“In about 6 months, 17 individuals across 5 houses paying £3 a week collectively saved about £500. This was mainly due to having low food costs - we were buying through Fareshare (access to cheap supermarket wholesale surplus) and spending about £15 a week on random veggies and processed food that were about to go in the bin.”</p>
                </li>

            <li>Expand your food co-op into a… food collective? What are all the other pieces of the pie when it comes to transforming our food system and our communities? We need to grow the food, deliver the food, cook the food, and eat it! What else can you start to do as a group to broaden your horizons, and bring more people with you?</li>

            <li>Get in touch with us so we can help build the network of Food Co-ops in the UK! Real power in community hands.
                    <p class="quote">“Having the food distribution hub as someone’s house means there’s already an informal domestic feeling to the experience of shopping. It means the members are able to walk there, through the neighbourhood, connecting to their area. And with the hyperlocal set up, it also means the house is being used to socialise with people maybe outside your typical friendship circle and this feels important. Residential areas NEED diversity and difference and they THRIVE with shared spaces.”</p>

            </li>

            </ol>

        </div>

    </div>

</row>

