@{
    ViewData["Title"] = "The Big Idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<row>
    <div class="col-12 content-text content-page">

        <div class="top-image"></div>

        <div>
            <h1 class="heading-xl">@ViewData["Title"]</h1>
        </div>


        <div class="contet-text-block">
            <h2 class="heading-lg">Move</h2>

            <p>First we have to know that changing the world is possible.</p>
            <p>We know it’s possible to change these systems, because we built them. They are not god-given, natural states that we have to just accept. They were constructed which means we can deconstruct them. They are man made which means man (or perhaps more accurately, woman) can remake them.</p>
            <p>In fact, change itself is inevitable. Nothing ever stays the same. And any scientist or economist worth their salt will tell you that big, planet-wide change is now on its way whether we like it or not. </p>
            <p>Things have been set in motion. Things like global debt and out of control capitalism. ‘Infinite economic growth’ on a finite planet. Climate change and animal extinction. The fact that 69% of wildlife has vanished since 1970. The rise of fascism. War. These four systems are not standing still, they are collapsing.</p>
            <p>So the old world is in transition and it will move one way, or the other. Nature won’t wait. History won’t wait.</p>
            <p>But the most important thing is still all to play for… which direction we travel. </p>
            <p>Now we know that change is not only possible but inevitable, it’s time to say this: it’s also going to be fun! And hard and painful and challenging and confusing, all of those too. But this is the world we WANT. The world we dream of. There is limitless joy in that. As kick-ass feminist Emma Goldman once said – if I can’t dance, it’s not my revolution. </p>


            <h2>First Stop: Democracy</h2>

            <img src="tobeadded"/>

            <p>The core of our strategy is People’s Assemblies – that’s where all of this begins. We want them happening in every corner of Hull (‘Neighbourhood Assemblies’) as well as a citywide Hull People’s Assembly that meets regularly and involves hundreds of local people. And we want other cities to do the same. </p>

            <p>An Assembly is a public meeting open to everyone, where we discuss, debate, disagree and eventually come to decisions we can all get behind. There’s no hidden agenda, no government or big business or NGOs, just people, and a few group agreements to keep things respectful when we’re tackling the hot button topics. We connect the Assemblies up with local organisations with the resources and skills to help us put into practice whatever we decide. </p>
            <p>By using Assemblies everywhere we’re not only working to replace the outdated and broken party politics with real, local democracy, but we’re also laying the groundwork for things to change in all the other circles, too, which means we’re well on our way to changing the world.</p>
            <p>Because to get things done, we have to have power. In 2003, over a million people marched through London to say no to the Iraq war. The biggest protest in British history – and we went to war anyway. There’s value in coming together on the streets, but the real power is still kept out of our grasp: the power to decide.</p>
            <p>The question of who in our society should make decisions is one humans have been struggling with almost since the very beginning. We’ve tried and tested, chopped and changed and had more than a few bloody revolutions to get to the politics we have today. We’ve come a long way, for sure, and we have a lot to be thankful for in this country. But we’ve also lost a lot in the process. </p>
            <p>‘Democracy’ comes from two Greek words: Demos (people), Kratia (power). The power of the people. </p>
            <p>Every single one of us has the right to contribute to the decisions that affect our lives. The right to be heard. The right to think, to discuss, to participate. But today, our only opportunity to participate is a vote every few years with two parties (or two people) to choose from. And, in Hull, over half of us don’t vote anymore, either.</p>
            <p>The vast majority of us are shut out from democracy. We do not have the power to decide our own future. But People’s Assemblies mean decisions are made collectively by us, ordinary people motivated by what’s good for our family and our community rather than what’s good for our career or our election campaign. </p>
            <p>And we’re facing collapse on multiple fronts. So there’s never been a more urgent time to have the right people in power, making decisions for the right reasons. That’s the only way we’ll move in the right direction.</p>

            <h2>Trusting The People Means Not Waiting For Permission</h2>


            <p>Imagine Hull in a few years time. Every ward or post code has a regular Neighbourhood Assembly, self organised and run by people who live in that area. Every Assembly has an empty chair representing someone alive in Hull in 7 generations time – a practice that helps us make responsible decisions, and moves us closer to a healthy earth. Maybe the point of your Assembly is to build trust and community, to bridge generational, class and race divides. Maybe it’s called to discuss a particular local topic – a green space being bought up by property developers, how to support unhoused people sleeping out in the cold, or a flood that requires an emergency response. Maybe there’s a massive political decision happening or an international crisis and you want to gather your community together and discuss what you can do about it. When we have a culture of collaboration and solidarity, of open discussion and trust, of rolling up our sleeves and not waiting for permission, we find we can do so much more than we thought possible. </p>
            <p>There is wisdom everywhere. Every person propping up the bar in your local has a lifetime of experience. Every neighbourhood has teachers, nurses, plumbers, grandmas – all with something unique to offer to every discussion. We won’t always agree, but we need to trust that we’re all in the same boat at the end of the day. </p>
            <p>And, of course, we don’t know everything! Politicians in Westminster don’t either – they consult experts and People’s Assemblies will do the same. By bringing in experts when we need to, people who can advise on all sides of an issue, we’ll make informed decisions that are right for our community.</p>


        </div>
        </div>
</row>