/* Default css*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

a {
  color: currentColor;
  text-decoration: none;
}


/* Abby's CSS */

:root {
    --city-orange: #F5A117;
    --cooperation-orange: #D05000;
    --cooperation-white: #F4E9E6;
    --off-black: #23201E;
    --border-radius: 0.5rem;
}


/* TODO work out what file formats we need to get the font working right across multiple browsers and on mobile.
    Google open sans currently being used as a fallback
*/
@font-face {
    font-family: 'Basic Sans SF';
    src: url('./assets/fonts/basicsanssf.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Basic Sans SF Bold';
    src: url('./assets/fonts/basicsanssfbold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Basic Sans SF Italic';
    src: url('./assets/fonts/basicsanssfitalic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: 'Basic Sans SF', 'Open Sans', sans-serif;
    font-size: 1.25rem;
    max-width: 1920px;
    margin: auto;
}

[class^='heading-'] {
    font-weight: 700;
}

h1, h2 {
    margin-bottom: 1.5rem;
}

.heading-xl {
    font-size: clamp(4rem, .7vw + 3rem, 5rem);
}

.heading-lg {
    font-size: clamp(3.5rem, .7vw + 2.5rem, 4rem);
}

.heading-md {
    font-size: clamp(2rem, .7vw + 1rem, 3rem);
}

.heading-sm {
    font-size: clamp(1rem, .5vw + 1rem, 2rem);
}

.heading-xs {
    font-size: clamp(1rem, .2vw + 1rem, 1.5rem);
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


/* Nav bar */

.navbar {
    color: var(--off-black);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(189,224,235,1) 48%, rgba(178,228,238,1) 64%);
}

.navbar-brand a {
    vertical-align: top;
    color: var(--off-black);
    text-decoration: none;
}

.navbar .nav-link {
    margin-right: 1rem;
    font-weight: 600;
}


#topNavBar ul li.active {
    background-color: grey;
}


.navbar-brand img {
    height: 4rem;
    vertical-align: middle;
    margin: 0.4rem;
}


.navbar-brand h1 {
    font-size: 2em;
    font-weight: 700;
    margin: auto;
}


/* footer */
.footer {
    background-color: black;
    color: white;
    position: relative;
    min-height: 200px;
    overflow-y: hidden;
}

    .footer .footer-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }
    
    .footer .footer-content-left {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .footer .footer-links {
        display: flex;
        gap: 24px;
    }
    
    .footer .footer-socials {
        display: flex;
        gap: 24px;
    }
    
    .footer .footer-illustration {
        position: absolute;
        bottom: -6px;
        right: 0;
        width: clamp(500px, 100vw, 50%);
        filter: invert(1);
    }

@media(min-width: 768px) {
    .footer .footer-content {
        flex-direction: row;
        justify-content: space-between;
        gap: 12px;
    }
}

@media(min-width: 1280px) {
    .footer .footer-content-left {
        flex-direction: row;
        gap: 48px;
    }
}

/* standard page defaults */


.main-content {
    background-color: var(--city-orange);
    min-height: 86vh;
    color: var(--off-black);
}

/* Home Page */

/*Hero*/

.hero {
    color: var(--off-black);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(189,224,235,1) 48%, rgba(178,228,238,1) 64%);
}


.hero-image-container {
    min-height: 40rem;
}

.hero img {
    width: 100%;
    opacity: 20%;
    object-fit: contain;
}

.hero button {
    color: white;
    background-color: var(--off-black);
}

.hero .hero-text {
    margin: 3rem 3rem 3rem 3rem;
    max-width: 80%;
}



/* Homepage block */

.homepage-block > .row {
    padding: 4rem
}

@media screen and (min-width: 600px) {
    .homepage-block > .row {
        padding: 4rem 5rem
    }
}

.homepage-block > div {
    min-height: 10vh;
}


.homepage-block .white {
    background-color: var(--cooperation-white);
}


.homepage-block p {
    line-height: normal;
    margin-bottom: 0.3rem;
}

.homepage-block .pattern-image {
    max-width: 100%;
    opacity: 0.3;
}


.homepage-block .video-container {
    max-width: 75%;
    margin: auto;
    position: relative;
    padding-bottom: 50%;
    height: 100%;
}

    .homepage-block .video-container iframe {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 75%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.homepage-block.sign-up {
    background-color: var(--city-orange);
    background-image: url("../assets/img/spot 3 1.png");
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.homepage-block .white a:link {
    color: var(--city-orange)
}

.homepage-block .white a:visited {
    color: var(--city-orange)
}

.homepage-block .white a:hover {
    color: var(--off-black)
}

.homepage-block.how-we-work {
    background-color: black;
    color: white;
}

@media(min-width:1000px) {
    .homepage-block.how-we-work {
        background-image: url("../assets/img/pattern 1 1 inverted.png");
        background-position-x: right;
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-color: black;
        color: white;
    }
}


.homepage-block .feature-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .homepage-block .feature-image img {
        max-width: 100%;
    }


/*Content Page*/

.content-text {
    margin: 2rem;
}


/* Forms*/

.form-container {
    margin-top: auto;
    margin-bottom: auto;
}

    .form-container label {
        color: white;
    }


.happening-next-item {
    width: 100%;
    background-color: black;
    color: white;
}

    .happening-next-item h3 {
        font-weight: bolder;
        padding: 1rem;
    }

    .happening-next-item img {
        width: inherit;
        position: relative;
        top: -2rem;
    }

    .happening-next-item .descBlock {
        padding: 2rem;
        display: flex;
    }

    .happening-next-item .dateDisplay {
        background-color: aqua;
        position: relative;
        bottom: -3rem;
        width: 30%;
        font-size: larger;
        color: black;
        z-index: 100;
        text-align: center;
        margin-left: 60%;
    }
